@media(max-width: 1176px){
    div > ul.profile-ul {
        padding-left: 0 !important;
    }

    ul.profile-ul > li > a,
    table > tbody > tr > td > p {
        font-size: small;
    }

    .cell {
        width: 30%;
    }
}

@media(max-width: 768px){

    div > ul.profile-ul > li {
        text-align: center;
    }
}