{% load humanize %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
    <head>
        <title>Laba/Rugi</title>

        <style>
            .underline {
                border-bottom: 4px solid #3e50b4;
            }

            .upperline {
                border-top: 2px solid #000;
            }
            
            .zero-top {
                margin-top: 0;
            }

            th {
                padding-left: 25px;
                padding-right: 25px;
                width: 150px;
            }

            td {
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 2px;
                padding-bottom: 2px;
                width: 200px;
            }

            .text-rd {
                color: #c93f4a;
            }

            .text-gr {
                color: #559e3e;
            }
        </style>
    </head>

    <body>
        <h2>{{company_name}}</h2>
        <p class="zero-top">Laporan Laba/Rugi bulan: {{get_previous_month}}</p>
        <hr />

        <table class="table">
            <tr>
                <th class="underline">Income</th>
                <th></th>
                <th></th>
            </tr>
        
            <tr>
                <td>Income</td>
                <td>
                    {% if monthly_income.sum > 0 %}
                        <p>Rp. {{monthly_income.sum|intcomma}}</p>
                    {% else %}
                        <p>Rp. 0.00</p>
                    {% endif %}
                </td>
                <td> - </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td class="upperline">
                    {% if monthly_income.sum > 0 %}
                        <h5 class="text-gr">
                            Rp. {{monthly_income.sum|intcomma}}
                        </h5>
                    {% else %}
                        <h5>Rp. 0.00</h5>
                    {% endif %}
                </td>
            </tr>
        </table>

        <table class="table">
            <tr>
                <th class="underline">Biaya Produksi</th>
                <th></th>
                <th></th>
            </tr>
        
            <tr>
                <td>Bahan Mentah</td>
                <td>
                    {% if monthly_raw_material.sum > 0 %}
                        <p>
                            Rp. {{monthly_raw_material.sum|intcomma}}
                        </p>
                    {% else %}
                        <p>Rp. 0.00</p>
                    {% endif %}
                </td>
                <td> - </td>
            </tr>
            <tr>
                <td>Barang Setengah Jadi</td>
                <td>
                    {% if monthly_wip.sum > 0 %}
                        <p>
                            Rp. {{monthly_wip.sum|intcomma}}
                        </p>
                    {% else %}
                        <bpRp. 0.00</p>
                    {% endif %}
                </td>
                <td> - </td>
            </tr>
            <tr>
                <td>Barang Jadi</td>
                <td>
                    {% if monthly_finished_goods.sum > 0 %}
                        <p>
                            Rp. {{monthly_finished_goods.sum|intcomma}}
                        </p>
                    {% else %}
                        <p>Rp. 0.00</p>
                    {% endif %}
                </td>
                <td> - </td>
            </tr>
            <tr>
                <td>Biaya Produksi Lainnya</td>
                <td>
                    {% if monthly_production_misc.sum > 0 %}
                        <p>
                            Rp. {{monthly_production_misc.sum|intcomma}}
                        </p>
                    {% else %}
                        <p>Rp. 0.00</p>
                    {% endif %}
                </td>
                <td> - </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td class="upperline">
                    {% if monthly_production_sum > 0 %}
                        <h5>Rp. {{monthly_production_sum|intcomma}}0</h5>
                    {% else %}
                        <h5>Rp. 0.00</h5>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td><h4>Laba Kotor</h4></td>
                <td></td>
                <td class="upperline">
                    {% if monthly_gross_profit > 0 %}
                        <h4 class="text-gr">
                            Rp. {{monthly_gross_profit|intcomma}}0
                        </h4>
                    {% elif monthly_gross_profit < 0 %}
                        <h4 class="text-rd">
                            Rp. {{monthly_gross_profit|intcomma}}0
                        </h4>
                    {% else %}
                        <h4>Rp. 0.00</h4>
                    {% endif %}
                    </td>
            </tr>
        </table>

        <h2 style="margin-bottom: 0;">Beban Usaha</h2>
        <table class="table">
            <tr>
                <th class="underline">Biaya Operasional</th>
                <th></th>
                <th></th>
            </tr>
        
            <tr>
                <td>Biaya Pemasaran</td>
                <td>
                    {% if monthly_marketing.sum > 0 %}
                        <p>
                            Rp. {{monthly_marketing.sum|intcomma}}
                        </p>
                    {% else %}
                        <p>Rp. 0.00</p>
                    {% endif %}
                </td>
                <td> - </td>
            </tr>
            <tr>
                <td>Biaya Logistik</td>
                <td>
                    {% if monthly_logistic.sum > 0 %}
                        <p>
                            Rp. {{monthly_logistic.sum|intcomma}}
                        </p>
                    {% else %}
                        <p>Rp. 0.00</p>
                    {% endif %}
                </td>
                <td> - </td>
            </tr>
            <tr>
                <td>Biaya Operasional Lainnya</td>
                <td>
                    {% if monthly_operation_misc.sum > 0 %}
                        <p>
                            Rp. {{monthly_operation_misc.sum|intcomma}}
                        </p>
                    {% else %}
                        <p>Rp. 0.00</p>
                    {% endif %}
                </td>
                <td> - </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td class="upperline">
                    {% if monthly_operational_sum > 0%}
                        <h5>Rp. {{monthly_operational_sum|intcomma}}</h5>
                    {% else %}
                        <h5>Rp. 0.00</h5>
                    {% endif %}
                    </td>
            </tr>
        </table>

        <table class="table">
            <tr>
                <th class="underline">Biaya Administrasi</th>
                <th></th>
                <th></th>
            </tr>
        
            <tr>
                <td>Biaya Keperluan Kantor</td>
                <td>
                    {% if monthly_office_needs.sum > 0 %}
                        <p>
                            Rp. {{monthly_office_needs.sum|intcomma}}
                        </p>
                    {% else %}
                        <p>Rp. 0.00</p>
                    {% endif %}
                </td>
                <td> - </td>
            </tr>
            <tr>
                <td>Biaya Gaji Karyawan</td>
                <td>
                    {% if monthly_salary.sum > 0 %}
                        <p>
                            Rp. {{monthly_salary.sum|intcomma}}
                        </p>
                    {% else %}
                        <p>Rp. 0.00</p>
                    {% endif %}
                </td>
                <td> - </td>
            </tr>
            <tr>
                <td>Biaya Sewa</td>
                <td>
                    {% if monthly_rent.sum > 0 %}
                        <p>
                            Rp. {{monthly_rent.sum|intcomma}}
                        </p>
                    {% else %}
                        <p>Rp. 0.00</p>
                    {% endif %}
                </td>
                <td> - </td>
            </tr>
            <tr>
                <td>Biaya Administrasi Lainnya</td>
                <td>
                    {% if monthly_administration_misc.sum > 0 %}
                        <0>
                            Rp. {{monthly_administration_misc.sum|intcomma}}
                        </p>
                    {% else %}
                        <p>Rp. 0.00</p>
                    {% endif %}
                </td>
                <td> - </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td class="upperline">
                    {% if monthly_administration_sum > 0 %}
                        <h5>Rp. {{monthly_administration_sum|intcomma}}0</h5>
                    {% else %}
                        <h5>Rp. 0.00</h5>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td><h4>Total Beban Usaha</h4></td>
                <td></td>
                <td class="upperline">
                    {% if monthly_business_load_sum > 0 %}
                        <h4 class="text-rd">
                            Rp. {{monthly_business_load_sum|intcomma}}0
                        </h4>
                    {% else %}
                        <h4>
                            Rp. 0.00
                        </h4>
                    {% endif %}
                </td>
            <tr>
                <td><h3>NETT Profit</h3></td>
                <td></td>
                <td class="upperline">
                    {% if monthly_nett_profit > 0 %}
                        <h3 class="text-gr">
                            Rp. {{monthly_nett_profit|intcomma}}0
                        </h3>
                    {% elif monthly_nett_profit < 0 %}
                        <h3 class="text-rd">
                            Rp. {{monthly_nett_profit|intcomma}}0
                        </h3>
                    {% else %}
                        <h3>
                            Rp. 0.00
                        </h3>
                    {% endif %}
                </td>
            </tr>
        </table>
    </body>
</html>