<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
    <head>
        <title>Laba/Rugi</title>

        <style>
            .underline {
                border-bottom: 4px solid #3e50b4;
            }

            .upperline {
                border-top: 2px solid #000;
            }
            
            .zero-top {
                margin-top: 0;
            }

            th {
                padding-left: 25px;
                padding-right: 25px;
                width: 150px;
            }

            td {
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 2px;
                padding-bottom: 2px;
                width: 150px;
            }
        </style>
    </head>

    <body>
        <h2>Company Name</h3>
        <p class="zero-top">Laporan Laba/Rugi</p>
        <hr />

        <table class="table">
            <tr>
                <th class="underline">Income</th>
                <th></th>
                <th></th>
            </tr>
        
            <tr>
                <td>Income</td>
                <td>Rp. 0.00</td>
                <td> - </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td class="upperline">Rp. 0.00</td>
            </tr>
        </table>

        <table class="table">
            <tr>
                <th class="underline">Biaya Produksi</th>
                <th></th>
                <th></th>
            </tr>
        
            <tr>
                <td>Bahan Mentah</td>
                <td>Rp. 0.00</td>
                <td> - </td>
            </tr>
            <tr>
                <td>Barang Setengah Jadi</td>
                <td>Rp. 0.00</td>
                <td> - </td>
            </tr>
            <tr>
                <td>Barang Jadi</td>
                <td>Rp. 0.00</td>
                <td> - </td>
            </tr>
            <tr>
                <td>Biaya Produksi Lainnya</td>
                <td>Rp. 0.00</td>
                <td> - </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td class="upperline">Rp. 0.00</td>
            </tr>
            <tr>
                <td>Laba Kotor</td>
                <td></td>
                <td class="upperline">Rp. 0.00</td>
            </tr>
        </table>

        <h2 style="margin-bottom: 0;">Beban Usaha</h2>
        <table class="table">
            <tr>
                <th class="underline">Biaya Operasional</th>
                <th></th>
                <th></th>
            </tr>
        
            <tr>
                <td>Biaya Pemasaran</td>
                <td>Rp. 0.00</td>
                <td> - </td>
            </tr>
            <tr>
                <td>Biaya Logistik</td>
                <td>Rp. 0.00</td>
                <td> - </td>
            </tr>
            <tr>
                <td>Biaya Operasional Lainnya</td>
                <td>Rp. 0.00</td>
                <td> - </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td class="upperline">Rp. 0.00</td>
            </tr>
        </table>

        <table class="table">
            <tr>
                <th class="underline">Biaya Administrasi</th>
                <th></th>
                <th></th>
            </tr>
        
            <tr>
                <td>Biaya Keperluan Kantor</td>
                <td>Rp. 0.00</td>
                <td> - </td>
            </tr>
            <tr>
                <td>Biaya Gaji Karyawan</td>
                <td>Rp. 0.00</td>
                <td> - </td>
            </tr>
            <tr>
                <td>Biaya Sewa</td>
                <td>Rp. 0.00</td>
                <td> - </td>
            </tr>
            <tr>
                <td>Biaya Administrasi Lainnya</td>
                <td>Rp. 0.00</td>
                <td> - </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td class="upperline">Rp. 0.00</td>
            </tr>
        </table>
    </body>
</html>