/* Current page */
a.dashboard-current {
    color: #16c7ff !important;
    text-shadow:0px 0px 10px rgba(22, 199, 255, 0.5);
}

/* Canvas */
canvas#incomeChart {
    max-height: 150px;
    width:100%;
}

canvas#expenseChart {
    max-height: 150px;
    width: 100%;
}

/* Upper part of the dashboard */
div.dashboard-current > .link {
    margin-left: 5px;
}

.dashboard-container {
    width: 100%;
    min-height: 125px;
}

/* [container-num], [chart-row], and [no-whitespace] were a class created solely to make each combination unique */
.page-content .container-num > .row > .col-12.col-md-6 {
    padding: 0px;
}

.row > .container-num.col-12.col-xl-6 {
    padding-right: 0;
}

.page-content > .row > .chart-row.col-12.col-xl-6 {
    padding-left: 15px;
    padding-right: 15px;
}

.page-content .container-num .row  > .col-12.col-md-6 > .dashboard-container {
    padding: 10px;
    min-height: 80px;
}

.row.no-whitespace > .col-12 {
    padding: 0;
}

.page-content .row > .col-12.col-md-6 {
    max-width: 48%;
}

.page-content .row > .income-margin.col-12.col-md-6 {
    margin-right: 10px;
}

table > tbody > tr > td > div > i.fa-cash-register {
    font-size: 2rem;
    color: var(--normal-text-alt);
    padding-left: 15px;
}

table > tbody > tr > td > div > i.fa-credit-card {
    font-size: 2rem;
    color: var(--normal-text-alt);
    padding-left: 15px;
}

td.table-align-right > span > h5 {
    padding-top: 5px;
}

.income-panel {
    background-color: var(--surface);
    height: 100px;
}

.expense-panel {
    background-color: var(--surface);
    height: 100px;
}

.profit-panel {
    background-color: var(--surface);
    height: 100px;
}

.general-panel {
    background-color: var(--surface);
}

.panel-footer {
    background-color: var(--surface-inside);
    border-top: 2px solid var(--surface-border);
    height: 35px;
}

/* End top dashboard */

/* Tables */
table.table-content-container {
    width: 100%;
}

.table-align-right {
    text-align: right;
    padding-right: 15px;
}

.row > .table-left {
    padding-right: 0;
}
/* End of tables */

/* Charts */
.dashboard-chart-container {
    position: relative;
    width: 100%;
    max-height: 220px;
    padding: 3%;
    background-color: var(--surface);

}

/* position: relative are needed to customize canvas width-height */
/* along with maintainAspectRatio to be set to false in chart options */
.mini-chart-container {
    position: relative;
    margin: auto;
    width: 100%;
}

.nav-tabs {
    border-bottom: 1px solid #29323c;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: rgba(255, 255, 255, 0.7);
    background-color: var(--surface);
    border-color: var(--surface) var(--surface) var(--surface);
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: var(--surface) var(--surface) var(--surface);
}

ul.nav-tabs > li.nav-item > a {
    color: var(--normal-text);
}

ul.nav-tabs > li.nav-item > a:hover {
    color: rgba(255, 255, 255, 0.7);
}
/* End charts */

/* Misc */
tr.panel-footer .text-right {
    margin-bottom: 0px !important
}

.page-content .dashboard-container.profit-panel > h4,
.page-content .dashboard-container.profit-panel > h5,
.page-content .dashboard-container.profit-panel > h6,
.page-content .row.no-whitespace > .col-12 > .container-primary > h5,
.page-content .row.no-whitespace > .col-12 > .container-primary-sub > h5 {
    margin-bottom: 0 !important;
}

.page-content .row.no-whitespace > .col-12 > .container-primary > h5,
.page-content .row.no-whitespace > .col-12 > .container-primary-sub > h5 {
    font-size: medium;
}

.page-content .row.no-whitespace > .col-12 > .container-primary a > button.btn.btn-sm,
.page-content .row.no-whitespace > .col-12 > .container-primary-sub a > button.btn.btn-sm {
    padding: 0px 5px !important;
}

.row > .anal-margin > .container-primary-sub > h5 > a,
.row .container-primary > h5 > a {
    font-size: medium;
    font-weight: bold;
}

.row > .anal-margin > .container-primary-sub > h5 > a:hover,
.row .container-primary > h5 > a:hover {
    text-decoration: none;
}

.row > .anal-margin > .container-primary-sub > h5 > a > i.fa-2x,
.row .container-primary > h5 > a > i.fa-2x {
    font-size: medium;
}

.row > .anal-margin > .container-primary-sub > h5 > a {
    color:rgb(79, 153, 202);
    transition: color .25s ease-in-out;
    -o-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
}

.row > .anal-margin > .container-primary-sub > h5 > a > i {
    color: rgba(80, 123, 151, 0.925);
    transition: color .25s ease-in-out;
    -o-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
}

.row > .anal-margin > .container-primary-sub > h5 > a:hover,
.row > .anal-margin > .container-primary-sub > h5 > a:hover > i {
    color:rgb(92, 217, 226);
}

.row .container-primary > h5 > a {
    color: rgb(17, 34, 131);
    transition: color .25s ease-in-out;
    -o-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
}

.row .container-primary > h5 > a > i {
    color: rgba(20, 41, 110, 0.904);
    transition: color .25s ease-in-out;
    -o-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
}

.row .container-primary > h5 > a:hover,
.row .container-primary > h5 > a:hover > i {
    color:rgb(92, 217, 226);
}

td.table-text-middle {
    vertical-align: middle !important;
    padding-right: 15px;
}

/* End misc */
@media(max-width: 1176px){
    .dashboard-container-sm {
        margin-top: 2%;
        height: 125px;
    }

    .mini-chart-container {
        position: relative;
        margin: auto;
        width: 100%;
    }

    .row.no-whitespace > .col-12 {
        padding-right: 15px;
    }
    
    .chart-row.top-2 {
        margin-top: 2%;
    }

    .page-content .row > .col-12.col-md-6 {
        max-width: 49%;
    }

    .page-content .row > .income-margin.col-12.col-md-6 {
        margin-right: 1%;
    }

    .profit-panel {
        margin-top: 2%;
    }

}

@media(max-width: 990px){
    .page-content .row > .col-12.col-md-6 {
        max-width: 49%;
    }

    .page-content .row > .income-margin.col-12.col-md-6 {
        margin-right: 1%;
    }

    .profit-panel {
        margin-top: 2%;
        margin-left: 0;
    }

    .expense-panel {
        margin-left: 0;
    }

    .row > .table-right {
        padding-right: 0;
    }

}

@media(max-width: 768px){
    .dashboard-container-sm {
        margin-top: 1%;
        height: 130px;
    }

    .dashboard-chart-container.top-2 {
        margin-top: 2%;
    }

    .mini-chart-container {
        position: relative;
        margin: auto;
        width: 100%;
    }

    .row.no-whitespace > .col-12.col-md-6.col-xl-12 > .container-primary.container-separator,
    .row.no-whitespace > .col-12.col-md-6.col-xl-12 > .container-primary-sub.container-separator {
        margin-left: 0;
    }
}

@media(max-width: 576px){
    .page-content .row > .col-12.col-md-6 {
        max-width: 100%;
    }

    .page-content .dashboard-container.income-panel {
        margin-bottom: 2%;
    }

    .row.no-whitespace > .col-12 {
        padding-right: 0;
    }

    .page-content .row.no-whitespace > .col-12 > .container-primary > h5,
    .page-content .row.no-whitespace > .col-12 > .container-primary-sub > h5 {
        font-size: small;
    }

    p.subtitles {
        font-size: smaller;
    }

    .page-content .dashboard-container > table i.fa-2x {
        font-size: 2rem;
    }

    .income-panel {
        min-height: 100px;
    }
    
    .expense-panel {
        min-height: 100px;
    }
    
    .profit-panel {
        min-height: 100px;
        margin-top: 2%;
    }

    .page-content > .row > .chart-row.col-12.col-xl-6 {
        padding-right: 0;
    }
}