.books-canvas-container {
    position: relative;
    margin: auto;
    width: auto;
    height: auto;
}

.hr-styling {
    background-color: #3e50b4;
    width: 150px;
    margin-left: 0;
    margin-top: 0;
    height: 4px;
}

.wrap-table {
    max-width: 100px;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
}

/* --------------- HEADER ----------------- */
.books-header {
    color: #fff;
    font-size: 1.5rem;
    padding-bottom: 0 !important;
    padding-top: 30px !important;
    text-align: left;
}

.books-header-subtitles {
    text-align: left;
    padding-left: 30px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-right: 40px;
    font-size: small;
}

.books-header-subtitles > p {
    margin-bottom: 2px;
}

/* ------------------- CONTAINER ------------------- */
.books-chart-container {
    position: relative;
    width: 100%;
    max-height: 250px;
    padding: 3%;
    background-color: #29323c;

}

.books-chart-container > canvas#incomeList {
    height: 220px;
}

.general-panel {
    background-color: #29323c;
    padding: 15px;
    /*box-shadow: 5px 5px 3px #222227;*/
}

.row.sum-container {
    padding-bottom: 0 !important;
}

/* ------------------ BUTTONS -------------------- */
.row > .col > a > button {
    border: 0;
}

.row.filter-container {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

/* ------------------ FILTER FORM ------------------ */
form > .row {
    margin-left: 15px;
}

form > .row > div.start-date.col-5 {
    padding-right: 1px;

}

form > .row > div.col-5 {
    padding: 0;
}

form > .row > .col-5 > input#flatpickr {
    border-radius: 0px;
}

form > .row > div > button,
form > .row > div > button > i {
    margin-left: 1px;
    display: inline;
    border: 0 !important;
    border-radius: 0 !important;
}

/* --------------------- MISC --------------------- */
.row > .col.no-padding, .row.no-padding {
    padding: 0;
}

a.link {
    color: rgb(79, 153, 202);
    font-weight: 600;
}

.w-90 {
    width: 90%;
}

@media(min-width: 768px){
    .page-wrapper.chiller-theme.toggled div.books-brand {
        margin-left: 300px;
    }
  
    .page-wrapper.chiller-theme div.books-brand {
        margin-left: 40px;
    }
}

@media(max-width: 1176px){
    .table-font-resize {
        font-size: 11px !important;
    }

    .table-font-resize h5, h6 {
        font-size: 12px;
    }

    .books-canvas-container {
        height: auto;
    }
}

@media(max-width: 768px){
    .table-font-resize {
        font-size: 11px !important;
    }

    .table-font-resize h5, h6 {
        font-size: 12px;
    }

    .small-hid {
        display:none;
    }

    .books-canvas-container {
        height: auto;
    }

    .page-wrapper.chiller-theme.toggled div.books-brand {
        margin-left: 40px;
    }
  
    .page-wrapper.chiller-theme div.books-brand {
        margin-left: 40px;
    }
}

@media(max-width: 576px){
    .table-font-resize {
        font-size: 9px !important;
    }
}
