.books-canvas-container {
    position: relative;
    margin: auto;
    width: auto;
    height: auto;
}

.hr-styling {
    background-color: #3e50b4;
    width: 150px;
    margin-left: 0;
    margin-top: 0;
    height: 4px;
}

.wrap-table {
    max-width: 100px;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
}

.notification-container {
}

/* --------------- HEADER ----------------- */
.books-brand {
    transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -webkit-transition: margin 0.25s ease-out;

    transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;

    display: inline-block;
    color: #fff;
    height: 30px;
    font-size: 1.5rem;
    font-weight: 800;
    padding-top: 10px;
    padding-bottom: 10px;
}

.books-header {
    color: #fff;
    font-size: 1.5rem;
    padding-bottom: 0 !important;
    text-align: right;
}

.books-header-subtitles {
    text-align: right;
    padding: 0 !important;
    margin-right: 40px;
    font-size: small;
}

.books-header-subtitles > p {
    margin-bottom: 2px;
}

.books-bg-top {
    min-height: 50px;
    width: 100vw;
    background: #0558a5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #0558a5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #0558a5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: -o-linear-gradient(to right, #1CB5E0, #0558a5);
    background: -moz-linear-gradient(to right, #1CB5E0, #0558a5);
    border-bottom: 1px solid #000046;
}

/* ------------------- CONTAINER ------------------- */
.books-chart-container {
    position: relative;
    width: 100%;
    max-height: 250px;
    padding: 3%;
    background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: -o-linear-gradient(to right, #29323c, #485563);
    background: -moz-linear-gradient(to right, #29323c, #485563);

}

.books-chart-container > canvas#incomeList {
    height: 220px;
}

.general-panel {
    background-color: #29323c;
    padding: 15px;
    /*box-shadow: 5px 5px 3px #222227;*/
}

.row.sum-container {
    padding-bottom: 0 !important;
}

/* ------------------ BUTTONS -------------------- */
.row > .col > a > button {
    border: 0;
}

.row.filter-container {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

/* ------------------ FILTER FORM ------------------ */
form > .row {
    margin-left: 15px;
}

form > .row > div.start-date.col-5 {
    padding-right: 1px;

}

form > .row > div.col-5 {
    padding: 0;
}

form > .row > .col-5 > input#flatpickr {
    border-radius: 0px;
}

form > .row > div > button,
form > .row > div > button > i {
    margin-left: 1px;
    display: inline;
    border: 0 !important;
    border-radius: 0 !important;
}

/* --------------------- MISC --------------------- */
.row > .col.no-padding, .row.no-padding {
    padding: 0;
}

a.link {
    color: rgb(79, 153, 202);
    font-weight: 600;
}

.w-90 {
    width: 90%;
}

@media(min-width: 768px){
    .page-wrapper.chiller-theme.toggled div.books-brand {
        margin-left: 300px;
    }
  
    .page-wrapper.chiller-theme div.books-brand {
        margin-left: 40px;
    }
}

@media(max-width: 1176px){
    .table-font-resize {
        font-size: 11px !important;
    }

    .table-font-resize h5, h6 {
        font-size: 12px;
    }

    .books-canvas-container {
        height: auto;
    }
}

@media(max-width: 768px){
    .table-font-resize {
        font-size: 11px !important;
    }

    .table-font-resize h5, h6 {
        font-size: 12px;
    }

    .small-hid {
        display:none;
    }

    .books-canvas-container {
        height: auto;
    }

    .page-wrapper.chiller-theme.toggled div.books-brand {
        margin-left: 40px;
    }
  
    .page-wrapper.chiller-theme div.books-brand {
        margin-left: 40px;
    }
}

@media(max-width: 576px){
    .table-font-resize {
        font-size: 9px !important;
    }
}
