a.income-current {
    color: #16c7ff !important;
    text-shadow:0px 0px 10px rgba(22, 199, 255, 0.5);
}

.income-form-container {
    background-color: #29323c;
    max-width: 60%;
    padding: 30px;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0.336);
    border-radius: 20px;
}

.table-border-top {
    border-top: 1px solid rgba(255, 255, 255, 0.336);
}

.table-border-bottom {
    border-bottom: 1px solid rgba(255, 255, 255, 0.336);
}

tr.table-padding-bottom > td {
    padding-bottom: 10px;
}

.table-padding-left {
    padding-left: 10px;
}

tr.table-padding-top > td {
    padding-top: 10px;
}

tr > td.cell-1 {
    width: 25%;
}

.width-40 {
    width: 40%;
}

.width-50 {
    width: 50%;
}

.width-60 {
    width: 60%
}

textarea.form-control {
    height: 100px !important;
    width: 80% !important;
}

hr {
    background-color: rgba(255, 255, 255, 0.493);
}

@media(max-width: 1176px){
    .income-form-container {
        max-width: 70%;
    }

    tr > td.cell-1 {
        width: 30%;
    }
    
    .width-40 {
        width: 50%;
    }
    
    .width-50 {
        width: 60%;
    }
    
    .width-60 {
        width: 70%
    }
}

@media(max-width: 970px){
    .income-form-container {
        max-width: 80%;
    }

    tr > td.cell-1 {
        width: 35%;
    }
    
    .width-40 {
        width: 100%;
    }
    
    .width-50 {
        width: 100%;
    }
    
    .width-60 {
        width: 100%
    }

    .qty.width-60 {
        width: 90%;
    }

    label {
        font-size: 12px;
    }
}

@media(max-width: 576px){
    label {
        font-size: 10px;
    }
}