.books-current {
    padding-left: 10px;
    border-left: 4px solid #3e50b4;
}

div.books-current > .link {
    margin-left: 5px;
}

.pagination > li > a
{
    background-color: white;
    color: #5A4181;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181 !Important;
}

.pagination > .active > a:hover
{
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181;
}

.books-canvas-container {
    position: relative;
    margin: auto;
    width: auto;
    height: auto;
}

.hr-styling {
    background-color: #3e50b4;
    width: 150px;
    margin-left: 0;
    margin-top: 0;
    height: 4px;
}

@media(max-width: 1080px){
    .table-font-resize {
        font-size: 11px !important;
    }

    .table-font-resize h5, h6 {
        font-size: 12px;
    }

    .books-canvas-container {
        height: auto;
    }
}

@media(max-width: 768px){
    .table-font-resize {
        font-size: 11px !important;
    }

    .table-font-resize h5, h6 {
        font-size: 12px;
    }

    .small-hid {
        display:none;
    }

    .books-canvas-container {
        height: auto;
    }
}
