/* Canvas */
canvas#incomeChart {
    max-height: 150px;
    width:100%;
}

canvas#expenseChart {
    max-height: 150px;
    width: 100%;
}

/* Upper part of the dashboard */
.dashboard-bg-top {
    min-height: 50px;
    width: 100vw;
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: -o-linear-gradient(to right, #1CB5E0, #000046);
    background: -moz-linear-gradient(to right, #1CB5E0, #000046);
    border-bottom: 1px solid #000046;
}

div.dashboard-current > .link {
    margin-left: 5px;
}

.dashboard-brand {
    display: inline-block;
    color: #fff;
    height: 30px;
    font-size: 1.5rem;
    font-weight: 800;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dashboard-container {
    width: 100%;
    min-height: 125px;
    padding: 3%;
}

/* [container-num], [chart-row], and [no-whitespace] were a class created solely to make each combination unique */
.page-content .container-num > .row > .col-12.col-md-6,
.page-content .container-num .row.no-whitespace > .col-12.col-md-6.col-xl-12, 
.page-content > .row > .chart-row.col-12.col-xl-6  {
    padding: 0px;
}

.page-content > .row > .chart-row.col-12.col-xl-6 {
    padding-left: 1%;
}

.page-content .container-num .row  > .col-12.col-md-6 > .dashboard-container {
    padding: 10px;
}

.row.no-whitespace > .col-12.col-md-6.col-xl-12 > .container-primary.container-separator,
.row.no-whitespace > .col-12.col-md-6.col-xl-12 > .container-primary-sub.container-separator {
    margin-top: 10px;
}

.page-content .dashboard-container > div.circle {
    width: 50px;
    height: 50px;
    border: 2px solid #121212;
    background-color: #121212;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    display: inline-block;

    /* Prevent background color inside border-radius to be leaked out */
    background-clip: padding-box;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
}

.page-content .dashboard-container > div.circle > i.fa-cash-register {
    margin-left: 9px;
    margin-top: 9px;
}

.page-content .dashboard-container > div.circle > i.fa-credit-card {
    margin-left: 7px;
    margin-top: 10px;
}

.income-panel {
    background-image: linear-gradient( 102.1deg,  rgba(96,221,142,1) 8.7%, rgba(24,138,141,1) 88.1% );
    background-image: -o-linear-gradient(102.1deg,  rgba(96,221,142,1) 8.7%, rgba(24,138,141,1) 88.1% );
    background-image: -moz-linear-gradient( 102.1deg,  rgba(96,221,142,1) 8.7%, rgba(24,138,141,1) 88.1% );
    background-image: -webkit-linear-gradient( 102.1deg,  rgba(96,221,142,1) 8.7%, rgba(24,138,141,1) 88.1% );
}

.expense-panel {
    background-image: linear-gradient( 135deg, #F05F57 10%, #360940 100%);
    background-image: -o-linear-gradient( 135deg, #F05F57 10%, #360940 100%);
    background-image: -moz-linear-gradient( 135deg, #F05F57 10%, #360940 100%);
    background-image: -webkit-linear-gradient( 135deg, #F05F57 10%, #360940 100%);
}

.profit-panel {
    background: #485563;  /* fallback for old browsers */
    background-image: linear-gradient( 112.1deg,  rgba(32,38,57,1) 11.4%, rgba(63,76,119,1) 70.2% );
    background-image: -o-linear-gradient( 112.1deg,  rgba(32,38,57,1) 11.4%, rgba(63,76,119,1) 70.2% );
    background-image: -moz-linear-gradient( 112.1deg,  rgba(32,38,57,1) 11.4%, rgba(63,76,119,1) 70.2% );
    background-image: -webkit-linear-gradient( 112.1deg,  rgba(32,38,57,1) 11.4%, rgba(63,76,119,1) 70.2% )

}

.general-panel {
    background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: -o-linear-gradient(to right, #29323c, #485563);
    background: -moz-linear-gradient(to right, #29323c, #485563);
}

.container-primary {
    padding: 10px;
    min-height: 120px;
    max-width: 100%;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: -o-linear-gradient(to left, #4286f4, #373B44);
    background: -moz-linear-gradient(to left, #4286f4, #373B44);
    border-radius: 5px;
}

.container-primary-sub {
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 10px;
    min-height: 120px;
    max-width: 100%;
    border-radius: 5px;

}
/* End top dashboard */

/* Charts */
.dashboard-chart-container {
    position: relative;
    width: 100%;
    max-height: 220px;
    padding: 3%;
    background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: -o-linear-gradient(to right, #29323c, #485563);
    background: -moz-linear-gradient(to right, #29323c, #485563);

}

/* position: relative are needed to customize canvas width-height */
/* along with maintainAspectRatio to be set to false in chart options */
.mini-chart-container {
    position: relative;
    margin: auto;
    height: 55px;
    width: 100%;
}
/* End charts */

/* Misc */
.dashboard-current {
    padding-left: 10px;
    border-left: 4px solid #3e50b4;
}

.hr-separator {
    background: #121212;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #121212, #434343, #121212);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #121212, #434343, #121212); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: -o-linear-gradient(to left, #121212, #434343, #121212);
    background: -moz-linear-gradient(to left, #121212, #434343, #121212);
    width: 100%;
    height: 5px;
    margin: 0 auto;
}
/* End misc */
@media(max-width: 1176px){
    .dashboard-container-sm {
        margin-top: 2%;
        height: 125px;
    }

    .mini-chart-container {
        position: relative;
        margin: auto;
        height: 70px;
        width: 100%;
    }

    .page-content > .row > .chart-row.col-12.col-xl-6 {
        padding-left: 0;
    }

    .row.no-whitespace > .col-12.col-md-6.col-xl-12 > .container-primary.container-separator,
    .row.no-whitespace > .col-12.col-md-6.col-xl-12 > .container-primary-sub.container-separator {
        margin-top: 0;
        margin-left: 2px;
    }

    .dashboard-chart-container.top-2 {
        margin-top: 2%;
    }
}

@media(max-width: 768px){
    .dashboard-container-sm {
        margin-top: 1%;
        height: 130px;
    }

    .dashboard-chart-container.top-2 {
        margin-top: 2%;
    }

    .mini-chart-container {
        position: relative;
        margin: auto;
        height: 75px;
        width: 100%;
    }

    .row.no-whitespace > .col-12.col-md-6.col-xl-12 > .container-primary.container-separator,
    .row.no-whitespace > .col-12.col-md-6.col-xl-12 > .container-primary-sub.container-separator {
        margin-top: 10px;
        margin-left: 0;
    }
}