/* Canvas */
canvas#incomeChart {
    max-height: 150px;
    width:100%;
}

canvas#expenseChart {
    max-height: 150px;
    width: 100%;
}

/* Upper part of the dashboard */
.dashboard-bg-top {
    height: 40vh;
    width: 100vw;
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: -o-linear-gradient(to right, #1CB5E0, #000046);
    background: -moz-linear-gradient(to right, #1CB5E0, #000046);
}

div.dashboard-current > .link {
    margin-left: 5px;
}

.dashboard-brand {
    display: inline-block;
    color: #fff;
    height: 20px;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 1.5rem;
    font-weight: 800;;
}

.dashboard-container {
    background-color: #272727;
    width: 100%;
    min-height: 125px;
    padding: 3%;
}

.page-content .container-num .row > .col-12.col-md-6 {
    padding: 0px;
}

.page-content .container-num .row  > .col-12.col-md-6 > .dashboard-container,
.page-content .container-num .row > .col-12.col-md-6 > .container-transparent {
    padding: 10px;
}

.income-panel {
    background-image: linear-gradient( 102.1deg,  rgba(96,221,142,1) 8.7%, rgba(24,138,141,1) 88.1% );
    background-image: -o-linear-gradient(102.1deg,  rgba(96,221,142,1) 8.7%, rgba(24,138,141,1) 88.1% );
    background-image: -moz-linear-gradient( 102.1deg,  rgba(96,221,142,1) 8.7%, rgba(24,138,141,1) 88.1% );
    background-image: -webkit-linear-gradient( 102.1deg,  rgba(96,221,142,1) 8.7%, rgba(24,138,141,1) 88.1% );
}

.expense-panel {
    background-image: linear-gradient( 135deg, #F05F57 10%, #360940 100%);
    background-image: -o-linear-gradient( 135deg, #F05F57 10%, #360940 100%);
    background-image: -moz-linear-gradient( 135deg, #F05F57 10%, #360940 100%);
    background-image: -webkit-linear-gradient( 135deg, #F05F57 10%, #360940 100%);
}
/* End top dashboard */

/* Charts */
.dashboard-chart-container {
    background-color: #272727;
    width: 100%;
    max-height: 220px;
    padding: 3%;
}

/* position: relative are needed to customize canvas width-height */
/* along with maintainAspectRatio to be set to false in chart options */
.mini-chart-container {
    position: relative;
    margin: auto;
    height: 55px;
    width: 100%;
}
/* End charts */

/* Misc */
.dashboard-current {
    padding-left: 10px;
    border-left: 4px solid #3e50b4;
}
/* End misc */
@media(max-width: 1080px){
    .dashboard-container-sm {
        margin-top: 2%;
        height: 125px;
    }

    .mini-chart-container {
        position: relative;
        margin: auto;
        height: 70px;
        width: 100%;
    }
}

@media(max-width: 768px){
    .dashboard-container-sm {
        margin-top: 1%;
        height: 130px;
    }

    .mini-chart-container {
        position: relative;
        margin: auto;
        height: 75px;
        width: 100%;
    }
}