/* Current page */
a.dashboard-current {
    color: #16c7ff !important;
    text-shadow:0px 0px 10px rgba(22, 199, 255, 0.5);
}

/* Canvas */
canvas#incomeChart {
    max-height: 150px;
    width:100%;
}

canvas#expenseChart {
    max-height: 150px;
    width: 100%;
}

/* Upper part of the dashboard */
div.dashboard-current > .link {
    margin-left: 5px;
}

.dashboard-container {
    width: 100%;
    min-height: 125px;
    padding: 3%;
}

/* [container-num], [chart-row], and [no-whitespace] were a class created solely to make each combination unique */
.page-content .container-num > .row > .col-12.col-md-6,
.page-content .container-num .row.no-whitespace > .col-12.col-md-6.col-xl-12  {
    padding: 0px;
}

.page-content > .row > .chart-row.col-12.col-xl-6 {
    padding-left: 15px;
    padding-right: 15px;
}

.page-content .container-num .row  > .col-12.col-md-6 > .dashboard-container {
    padding: 10px;
    min-height: 80px;
}

.row.no-whitespace > .col-12.col-md-6.col-xl-12 {
    max-width: 49%;
}

.row.no-whitespace > .anal-margin.col-12.col-md-6.col-xl-12 {
    margin-right: 2%;
}

.row.no-whitespace > .col-12 {
    padding: 0;
}

.page-content .row > .col-12.col-md-6 {
    max-width: 49%;
}

.page-content .row > .income-margin.col-12.col-md-6 {
    margin-right: 1%
}

.page-content .dashboard-container > div.circle {
    width: 50px;
    height: 50px;
    background-color: #121212;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    display: inline-block;
}

.page-content .dashboard-container.income-panel > div.circle {
    background: rgba(96,221,142,1);

    background-image: linear-gradient( 102.1deg,  rgba(96,221,142,1) 8.7%, rgba(24,138,141,1) 88.1% );
    background-image: -o-linear-gradient(102.1deg,  rgba(96,221,142,1) 8.7%, rgba(24,138,141,1) 88.1% );
    background-image: -moz-linear-gradient( 102.1deg,  rgba(96,221,142,1) 8.7%, rgba(24,138,141,1) 88.1% );
    background-image: -webkit-linear-gradient( 102.1deg,  rgba(96,221,142,1) 8.7%, rgba(24,138,141,1) 88.1% );


}

.page-content .dashboard-container.expense-panel > div.circle {
    /* Prevent background color inside border-radius to be leaked out */
    background-clip: padding-box;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;

    background: #F05F57; /* Fallback for old browser */

    background-image: linear-gradient( 135deg, #F05F57 10%, #360940 100%);
    background-image: -o-linear-gradient( 135deg, #F05F57 10%, #360940 100%);
    background-image: -moz-linear-gradient( 135deg, #F05F57 10%, #360940 100%);
    background-image: -webkit-linear-gradient( 135deg, #F05F57 10%, #360940 100%);
}

table > tbody > tr > td > div > i.fa-cash-register {
    font-size: 1rem;
    padding: 10px;
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.7);
    background: #404e5e;
}

table > tbody > tr > td > div > i.fa-credit-card {
    font-size: 1rem;
    padding: 10px;
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.7);
    background: #404e5e;
}

td.table-align-right > span > h5 {
    padding-top: 5px;
}

.income-panel {
    background-color: #29323c;
    height: 100px;
}

.expense-panel {
    background-color: #29323c;
    height: 100px;
}

.profit-panel {
    background-color: #29323c;
    max-height: 100px;
    margin-top: 2%;
}

.general-panel {
    background-color: #29323c;
}

.container-primary {
    padding: 10px;
    max-height: 120px;
    max-width: 100%;
    background-color: #4286f4;
    border-radius: 5px;
}

.container-primary-btn {
    background-color: #4286f4 !important;
    border: 1px solid #b8fafa;
    color: #fff !important;
}

.container-primary-btn:hover {
    background-color: #b8fafa !important;
    color:#29323c !important;
}

.container-primary-sub {
    background-color: #243B55;
    padding: 10px;
    max-height: 120px;
    max-width: 100%;
    border-radius: 5px;

}
/* End top dashboard */

/* Tables */
table.table-content-container {
    width: 100%;
}

.table-align-right {
    text-align: right;
}
/* End of tables */

/* Charts */
.dashboard-chart-container {
    position: relative;
    width: 100%;
    max-height: 220px;
    padding: 3%;
    background-color: #29323c;

}

/* position: relative are needed to customize canvas width-height */
/* along with maintainAspectRatio to be set to false in chart options */
.mini-chart-container {
    position: relative;
    margin: auto;
    width: 100%;
}
/* End charts */

/* Misc */
.page-content .dashboard-container.profit-panel > h4,
.page-content .dashboard-container.profit-panel > h5,
.page-content .dashboard-container.profit-panel > h6,
.page-content .row.no-whitespace > .col-12 > .container-primary > h5,
.page-content .row.no-whitespace > .col-12 > .container-primary-sub > h5 {
    margin-bottom: 0 !important;
}

.page-content .row.no-whitespace > .col-12 > .container-primary > h5,
.page-content .row.no-whitespace > .col-12 > .container-primary-sub > h5 {
    font-size: medium;
}

.page-content .row.no-whitespace > .col-12 > .container-primary a > button.btn.btn-sm,
.page-content .row.no-whitespace > .col-12 > .container-primary-sub a > button.btn.btn-sm {
    padding: 0px 5px !important;
}

.row > .anal-margin > .container-primary-sub > h5 > a,
.row .container-primary > h5 > a {
    font-size: medium;
    font-weight: bold;
}

.row > .anal-margin > .container-primary-sub > h5 > a:hover,
.row .container-primary > h5 > a:hover {
    text-decoration: none;
}

.row > .anal-margin > .container-primary-sub > h5 > a > i.fa-2x,
.row .container-primary > h5 > a > i.fa-2x {
    font-size: medium;
}

.row > .anal-margin > .container-primary-sub > h5 > a {
    color:rgb(79, 153, 202);
    transition: color .25s ease-in-out;
    -o-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
}

.row > .anal-margin > .container-primary-sub > h5 > a > i {
    color: rgba(80, 123, 151, 0.925);
    transition: color .25s ease-in-out;
    -o-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
}

.row > .anal-margin > .container-primary-sub > h5 > a:hover,
.row > .anal-margin > .container-primary-sub > h5 > a:hover > i {
    color:rgb(92, 217, 226);
}

.row .container-primary > h5 > a {
    color: rgb(17, 34, 131);
    transition: color .25s ease-in-out;
    -o-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
}

.row .container-primary > h5 > a > i {
    color: rgba(20, 41, 110, 0.904);
    transition: color .25s ease-in-out;
    -o-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
}

.row .container-primary > h5 > a:hover,
.row .container-primary > h5 > a:hover > i {
    color:rgb(92, 217, 226);
}

table > tbody > tr > td.table-text-bottom > p,
.dashboard-container.profit-panel > p {
    margin-bottom: 0px;
}

.table-text-bottom {
    vertical-align: bottom !important;
}

/* End misc */
@media(max-width: 1176px){
    .dashboard-container-sm {
        margin-top: 2%;
        height: 125px;
    }

    .mini-chart-container {
        position: relative;
        margin: auto;
        width: 100%;
    }

    .row.no-whitespace > .col-12.col-md-6.col-xl-12 > .container-primary.container-separator,
    .row.no-whitespace > .col-12.col-md-6.col-xl-12 > .container-primary-sub.container-separator {
        margin-top: 0;
        margin-left: 2px;
    }
    
    .dashboard-chart-container.top-2 {
        margin-top: 2%;
    }

    .page-content .row > .col-12.col-md-6 {
        max-width: 45%;
    }

    .page-content .row > .income-margin.col-12.col-md-6 {
        margin-right: 0;
    }

    .profit-panel {
        margin-top: 0px;
        margin-left: 4px;
    }

    .expense-panel {
        margin-left: 2px;
    }

}

@media(max-width: 990px){
    .page-content .row > .col-12.col-md-6 {
        max-width: 49%;
    }

    .page-content .row > .income-margin.col-12.col-md-6 {
        margin-right: 1%;
    }

    .profit-panel {
        margin-top: 2%;
        margin-left: 0;
    }

    .expense-panel {
        margin-left: 0;
    }
}

@media(max-width: 768px){
    .dashboard-container-sm {
        margin-top: 1%;
        height: 130px;
    }

    .dashboard-chart-container.top-2 {
        margin-top: 2%;
    }

    .mini-chart-container {
        position: relative;
        margin: auto;
        width: 100%;
    }

    .row.no-whitespace > .col-12.col-md-6.col-xl-12 > .container-primary.container-separator,
    .row.no-whitespace > .col-12.col-md-6.col-xl-12 > .container-primary-sub.container-separator {
        margin-left: 0;
    }
}

@media(max-width: 576px){
    .page-content .row > .col-12.col-md-6 {
        max-width: 100%;
    }

    .page-content .dashboard-container.income-panel {
        margin-bottom: 2%;
    }

    .row.no-whitespace > .col-12.col-md-6.col-xl-12 {
        max-width: 100%;
    }
    
    .row.no-whitespace > .anal-margin.col-12.col-md-6.col-xl-12 {
        margin-bottom: 2%;
    }

    .page-content .row.no-whitespace > .col-12 > .container-primary > h5,
    .page-content .row.no-whitespace > .col-12 > .container-primary-sub > h5 {
        font-size: small;
    }

    p.subtitles {
        font-size: smaller;
    }

    .page-content .dashboard-container > table i.fa-2x {
        font-size: 2rem;
    }

    .income-panel {
        min-height: 100px;
    }
    
    .expense-panel {
        min-height: 100px;
    }
    
    .profit-panel {
        min-height: 100px;
        margin-top: 2%;
    }
}