{% extends 'base/base_login.html' %}

{% block title %}
Change Password
{% endblock title %}

{% block css %}
<link href="/../../static/user/password.css" rel="stylesheet">
{% endblock css %}

{% block back_arrow %}
<a href="{% url 'profile' %}" class="link">
    <i class="fas fa-arrow-left"></i>
</a>
{% endblock back_arrow %}

{% block messages %}
{% if messages %}
    {% for msg in messages %}
        {% if msg.tags %}
            <div class="col-md-5 msg-{{msg.tags}}-container">
                <p class="msg-{{msg.tags}} text-center">{{msg}}</p>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
{% endblock messages %}

{% block content %}
<div class="w-100">
    <div class="password-content mt-3">
        <div class="row">
            <div class="col-12">
                <div class="text-rd text-center">
                    <i class="fas fa-user-lock fa-6x"></i>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">
                            <div class="subtitles text-center">
                                <h2><strong>Ganti Password</strong></h2>
                            </div>
                        </legend>

                        <label for="old_password" class="subtitles">Current Password</label>
                        {{form.old_password}}<br />

                        <label for="new_password1" class="subtitles">New Password</label>
                        {{form.new_password1}}<br />

                        <label for="new_password2" class="subtitles">Confirm New Password</label>
                        {{form.new_password2}}<br />
                    </fieldset>
                    <button class="btn btn-color-primary mr-3" type="submit">Update</button>
                    <a href="{% url 'profile' %}" class="link-info">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}