{% extends 'base/base_all.html' %}

{% block title %}
Change Password
{% endblock title %}

{% block content %}
<div class="row">
    <div class="error-notification">
        <p><strong>{{password_change_notification}}</strong></p>
    </div>

    <div class="col-md-8">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 subtitles">
                    <div class="float-right mb-2">
                        <strong>Change Password</strong>
                    </div>
                </legend>

                <label for="old_password" class="subtitles">Current Password</label>
                {{form.old_password}}<br />

                <label for="new_password1" class="subtitles">New Password</label>
                {{form.new_password1}}<br />

                <label for="new_password2" class="subtitles">Confirm New Password</label>
                {{form.new_password2}}<br />
            </fieldset>
            <button class="btn btn-info mr-3" type="submit">Update</button>
            <a href="{% url 'profile' %}">Cancel</a>
        </form>
    </div>
</div>
{% endblock content %}