{% extends 'base/base_all.html' %}

{% block title %}
{{company_description.company_name}}'s Profile
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="../../static/user/profile.css">
{% endblock css%}

{% block content %}
<div class="float-right">
    <div class="row">
    <h3>{{company_description.company_name}}</h3>
    </div>

    <div class="row">
    <div class="col-5">
    <a href="{% url 'edit' %}" class="link-btn">
        <button class="btn btn-md">
            Edit
        </button>
    </a>
    </div>
    <div class="col-7">
    <a href="{% url 'logout' %}" class="link-btn">
        <button class="btn btn-md ml-2">
            Logout
        </button>
    </a>
    </div>
    </div>
</div>

<div class="col-md-8">
    <div class="sub-container-bg-light">
    <h5 class="subtitles">Username:</h5>
    <span class="subtitles">{{profile.username}}</span>
    <br /><br />

    <h5 class="subtitles">Email:</h5>
    <span class="subtitles">{{profile.email}}</span>
    <br /><br />

    <h5 class="subtitles">Company's Industry:</h5>
    <span class="subtitles">{{company_industry.industry}}</span>
    <br /><br />

    <h5 class="subtitles">Description:</h5>
    <span class="subtitles">{{company_description.company_description}}</span>
    </div>
</div>

{% endblock content %}