{% extends 'base/base_test.html' %}

{% block title %}
{{company_description.company_name}}'s Profile
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="/../../static/user/user.css">
<link rel="stylesheet" href="/../../static/user/profile.css">
{% endblock css%}

{% block content %}
<nav class="bg-top">
    <div class="user-brand">
        Detail Pengguna
    </div>
</nav>

<div class="page-content">
    <div class="w-100">
        {% if messages %}
            {% for msg in messages %}
                {% if msg.tags %}
                    <div class="col-md-5 msg-{{msg.tags}}-container">
                        <p class="msg-{{msg.tags}} text-center">{{msg}}</p>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="user-content text-center">
            <h3 class="mb-4">{{company_description.company_name}}</h3>

            <div class="row">
                <div class="col-12 col-md-3">
                    <ul class="profile-ul text-left">
                        <li>
                            <a href="{% url 'user_edit' %}" class="link">
                                <i class="fas fa-user-edit"></i>
                                Edit Profile
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'edit' %}" class="link">
                                <i class="fas fa-edit"></i>
                                Edit Detail
                            </a>
                        </li>

                        <hr />

                        <li>
                            <a href="{% url 'change_password' %}" class="link">
                                <i class="fas fa-lock-open"></i>
                                Ganti Password
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-12 col-md-9">
                    <div class="text-left subtitles">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="cell"><p>Username:</p></td>
                                    <td><p>{{profile.username}}</p></td>
                                </tr>
                                <tr>
                                    <td class="cell"><p>Email:</p></td>
                                    <td><p>{{profile.email}}</p></td>
                                </tr>
                                <tr>
                                    <td class="cell"><p>Industry:</p></td>
                                    <td><p>{{company_description.industry}}</p></td>
                                </tr>
                                <tr>
                                    <td class="cell"><p>Description:</p></td>
                                    <td><p>{{company_description.company_description}}</p></td>
                            </tbody>
                        </table> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}