{% extends 'base/base_login.html' %}

{% block title %}
Konfirmasi Ganti Password
{% endblock title %}

{% block css %}
<link href="/../../static/user/password.css" rel="stylesheet">
{% endblock css %}

{% block content %}
{% if validlink %}
<div class="w-100">
    <div class="password-content mt-3">
        <div class="row">
            <div class="col-12">
                <div class="text-rd text-center">
                    <i class="fas fa-user-lock fa-6x"></i>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">
                            <div class="subtitles text-center">
                                <h2><strong>Konfirmasi Ganti Password</strong></h2>
                            </div>
                        </legend>

                        <p class="subtitles">New Password:</p>
                        <p>{{form.new_password1}}</p>
                        <p class="subtitles">Confirm Password:</p>
                        <p>{{form.new_password2}}</p>
                    </fieldset>
                    <button class="btn btn-color-primary mr-3" type="submit">Confirm</button>
                    <a href="{% url 'profile' %}" class="link-info">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="w-100">
    <div class="password-content mt-3">
        <div class="row">
            <div class="col-12">
                <div class="text-rd text-center">
                    <p class="subtitles">
                      The password reset link was invalid, possibly because it has already been used.
                      Please request a new password reset.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<!--
  {% if validlink %}
    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}
      <p class="subtitles">New Password:</p>
      <p>{{form.new_password1}}</p>
      <p class="subtitles">Confirm Password:</p>
      <p>{{form.new_password2}}</p>
      <button type="submit">Change password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
-->
{% endblock %}