{% extends 'base/base_login.html' %}

{% block title %}
Completed!
{% endblock title %}

{% block css %}
<link href="/../../static/user/password.css" rel="stylesheet">
{% endblock css %}

{% block content %}
<div class="w-100">
    <div class="password-content mt-3">
        <div class="row">
            <div class="col-12">
                <div class="text-rd text-center">
                    <p class="subtitles">
                      Your password has been set. You may go ahead and <a href="{% url 'login' %}" class="link-info">sign in</a> now.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}