{% extends 'base/base_login.html' %}
{% load crispy_forms_tags %}

{% block title %}
Lupa Password
{% endblock title %}

{% block css %}
<link href="/../../static/user/password.css" rel="stylesheet">
{% endblock css %}

{% block content %}
<div class="w-100">
    <div class="password-content mt-3">
        <div class="row">
            <div class="col-12">
                <div class="text-rd text-center">
                    <i class="fas fa-question fa-6x"></i>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">
                            <div class="subtitles text-center">
                                <h2><strong>Lupa Password?</strong></h2>
                            </div>
                        </legend>
                        <!-- call ValidationError from forms.py-->
                        <div class="text-rd">
                            {{form.errors.email}}
                        </div>
                        <p class="subtitles">Email</p>
                        {{form.email}}
                        <p class="subtitles">NB: Please enter your valid E-mail address</p>
                    </fieldset>
                    <button class="btn btn-color-primary mr-3" type="submit">Submit</button>
                    <a href="{% url 'profile' %}" class="link-info">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}