{% extends 'base/base_login.html' %}
{% load crispy_forms_tags %}

{% block title %}
Forget Password
{% endblock title %}

{% block content %}
<h3>Forgot your password?</h3>

<form method="POST">
    {% csrf_token %}
    <!-- call ValidationError from forms.py-->
    <div style="color:white">
    {{form.errors.email}}
    </div>

    <p class="subtitles">Email</p>
    {{form.email}}
    <p class="subtitles">NB: Please enter your valid E-mail address</p>

    <button type="submit" class="btn btn-info">Submit</button>
</form>
{% endblock content %}