{% extends 'base/base_login.html' %}

{% block content %}
  {% if validlink %}
    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}
      <p class="subtitles">New Password:</p>
      <p>{{form.new_password1}}</p>
      <p class="subtitles">Confirm Password:</p>
      <p>{{form.new_password2}}</p>
      <button type="submit">Change password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}