{% extends 'base/base_all.html' %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <h3>Description</h3>
    <p class="subtitles">Company's Name:</p>
    {{form_description.company_name}}
    <p class="subtitles">Company's Description:</p>
    {{form_description.company_description}}

    <h3>Industry</h3>
    <p class="subtitles">Industry:</p>
    {{form_industry.industry}}
    <br />
    <button type="submit" class="btn btn-info">Update!</button>
</form>
{% endblock content%}