{% extends 'base/base_all.html' %}

{% block title %}
Books Options
{% endblock title %}

{% block css %}
<link href="/../../static/books/books.css" rel="stylesheet">
{% endblock css %}

{% block content %}
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center text-center">
        <div class="col-md-4">
            <a href="{% url 'list_of_income' %}">
                <button class="btn">
                    <i class="fas fa-file-invoice-dollar fa-7x"></i>
                    <p>List of Income</p>
                </button>
            </a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'list_of_expense' %}">
                <button class="btn">
                    <i class="fas fa-cash-register fa-7x"></i>
                    <p>List of Expense</p>
                </button>
            </a>
        </div>
    </div>
</div>
{% endblock content %}