{% extends 'base/base_test.html' %}

{% block title %}
Edit Product
{% endblock title %}

{% block css %}
<link href="/../../static/books/register_product.css" rel="stylesheet">
<link href="/../../static/books/books.css" rel="stylesheet">
{% endblock css %}

{% block content %}
<div class="page-content">
    <div class="h-100 w-100">
        <div>
            {% if messages %}
                {% for msg in messages %}
                    {% if msg.tags %}
                        <div class="col-8 msg-{{msg.tags}}-container">
                            <p class="msg-{{msg.tags}} text-center">{{msg}}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="product-form-container">
            <div class="form-header">
                <h5>Edit Produk</h5>
                <hr />
            </div>

            <form method="POST">
                {% csrf_token %}
                <p class="subtitles text-right"><strong><span class="text-rd">*</span> wajib diisi</strong></p>
                <div class="mb-2">
                    <label for="product_name" class="subtitles">Product Name: <span class="text-rd">*</span></label>
                    {{product_form.product_name}}
                </div>

                <label for="price" class="subtitles">Price: <span class="text-rd">*</span></label>
                {{product_form.price}}

                <label for="type" class="subtitles mt-2">Type:<span class="text-rd">*</span></label>
                {{product_form.types}}

                <button type="submit" class="btn btn-color-primary btn-sm float-right mt-2">Submit</button>
                {% if not request.session.previous_page %}
                    <a href="{% url 'list_of_product' %}" class="link-info float-right mt-3 mr-3">Cancel</a>
                {% else %}
                    <a href="{{request.session.previous_page}}" class="link-info float-right mt-3 mr-3">Cancel</a>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock content %}