{% extends 'base/base_test.html' %}

{% block title %}
Edit {{product_name}}
{% endblock title %}

{% block css %}
<link href="/../../static/books/books.css" rel="stylesheet">
<link href="/../../static/books/books_edit_income.css" rel="stylesheet">
{% endblock css%}

{% block content %}
<div class="page-content">
    <div class="w-100">
        {% if messages %}
            {% for msg in messages %}
                {% if msg.tags %}
                    <div class="col-md-5 msg-{{msg.tags}}-container">
                        <p class="msg-{{msg.tags}} text-center">{{msg}}</p>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <div class="income-form-container">
            <div class="form-header">
                <h5>Edit Data Pemasukan</h5>
                <hr />
            </div>
            <form method="POST" id="incomeForm" data-income-url="{% url 'income_form_autofill' %}">
                {% csrf_token %}
                <div class="subtitles">
                    <p class="text-right"><strong><span class="text-rd">*</span> wajib diisi</strong></p>
                    <table>
                        <tbody>
                            <tr class="table-padding-bottom">
                                <td class="cell-1">
                                    <label for="date_added">Date Added: <span class="text-rd">*</span></label>
                                </td>
                                <td>
                                    <div class="width-40">
                                        {{income_form.date_added}}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="cell-1">
                                    <label for="product_name">Product Name: <span class="text-rd">*</span></label>
                                </td>
                                <td>
                                    <div class="width-40">
                                    {{income_form.product_name}}
                                    </div>
                                </td>
                            </tr>

                            <tr><td><br/></td></tr>

                            <tr class="table-padding-top table-border-top">
                                <td class="cell-1">
                                    <label for="quantity">Quantity: <span class="text-rd">*</span></label>
                                    <div class="qty width-60">
                                        {{income_form.quantity}}
                                    </div>
                                </td>
                                <td>
                                    <label for="price">Price: <span class="text-rd">*</span></label>
                                    <div class="width-50">
                                        {{income_form.price}}
                                    </div>
                                </td>
                            </tr>
                            <tr class="table-padding-bottom table-border-bottom">
                                <td></td>
                                <td>
                                    <label for="additional_price">Additional Price: (optional)</label>
                                    <div class="width-50">
                                        {{income_form.additional_price}}
                                    </div>
                                </td>
                            </tr>

                            <tr><td><br/></td></tr>

                            <tr class="table-padding-bottom">
                                <td class="cell-1">
                                    <label for="notes">Notes: (optional)</label>
                                </td>
                                <td>
                                    <div style="max-height: 50%">
                                        {{income_form.notes}}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="cell-1">
                                    <h5 class="subtitles">Total:</h5>
                                </td>
                                <td>
                                    <h4 id="totalPrice" class="subtitles">0</h4>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                                <td>
                                    {% if not request.session.previous_page %}
                                        <a href="{% url 'list_of_income' %}" class="link-info mt-3 ml-5">Cancel</a>
                                    {% else %}
                                        <a href="{{request.session.previous_page}}" class="link-info mt-3 ml-5">Cancel</a>
                                    {% endif %}
                                    <button type="submit" class="btn btn-color-primary btn-sm float-right">Submit</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script>
    // To open the sub menu automatically when visiting this page
    $(document).ready(function(){
        $(".books-menu.sidebar-dropdown").addClass("active")
        if($(".books-menu.sidebar-dropdown").hasClass("active")){
            $(".books-menu.sidebar-dropdown > .sidebar-submenu").slideDown(200);
        }
    })
</script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function(){
        $("#id_product_name").change(function(){
            var url = $("#incomeForm").attr("data-income-url");
            var prcId = $(this).val()
            $.ajax({
                url: url,
                data: {
                    "product_name": prcId,
                },
                success: function(data){
                    // You need parseFloat so the form field could detect it as float type, or parseInt for integer type
                    // This is applied only if your form field required a number input, refer to expense page for string type
                    var prc = parseFloat(data);
                    $("#id_price").val(prc)
                }
            })
        })
    });
</script>
<script>
    $(function(){
        $("#id_quantity, #id_price, #id_additional_price").keyup(function(){
            var qty = parseFloat($("#id_quantity").val()) || 0;
            var prc = parseFloat($("#id_price").val()) || 0;
            var add_prc = parseFloat($("#id_additional_price").val()) || 0;

            $("#totalPrice").text((qty*prc)+add_prc);
        });
    });
</script>
{% endblock js %}