{% extends 'base/base_test.html' %}

{% block title %}
Edit {{item_name}}
{% endblock title %}

{% block css %}
<link href="/../../static/books/books.css" rel="stylesheet">
<link href="/../../static/books/books_edit_expense.css" rel="stylesheet">
{% endblock css%}

{% block content %}
<div class="page-content">
    <div class="w-100 h-100">
        {% if messages %}
            {% for msg in messages %}
                {% if msg.tags %}
                    <div class="col-md-5 msg-{{msg.tags}}-container">
                        <p class="msg-{{msg.tags}} text-center">{{msg}}</p>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="expense-form-container">
            <div class="form-header">
                <h5>Input Data Pengeluaran</h5>
                <hr />
            </div>
            <form method="POST" id="expenseForm" data-expense-url="{% url 'dropdown_ajax' %}">
                {% csrf_token %}
                <div class="subtitles">
                    <p class="text-right"><strong><span class="text-rd">*</span> wajib diisi</strong></p>

                    <table class="w-100">
                        <tbody>
                            <tr>
                                <td class="cell-1">
                                    <label for="date_added">Date Added<span class="text-rd">*</span></label>
                                </td>
                                <td>
                                    <div class="width-60">
                                        {{expense_form.date_added}}
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="cell-1">
                                    <label for="item_name">Item Name: <span class="text-rd">*</span></label>
                                </td>
                                <td>
                                    <div class="width-60">
                                        {{expense_form.item_name}}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="w-100 table-border-top mt-3">
                        </tbody>
                            <tr class="table-padding-top">
                                <td class="cell-2">
                                    <label for="category">Category: <span class="text-rd">*</span></label>
                                    <div>
                                        {{expense_form.category}}
                                    </div>
                                </td>
                                <td>
                                    <div id="subCategoryHidden" class="table-padding-left">
                                        <label for="sub_category">Sub Category: <span class="text-rd">*</span></label>
                                        <div class="width-55">
                                        {{expense_form.sub_category}}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="w-100 table-border-bottom table-border-top mt-3 mb-3">
                        <tbody>
                            <tr class="table-padding-bottom table-padding-top">
                                <td class="cell-1">
                                    <label for="quantity">Quantity: <span class="text-rd">*</span></label>
                                    <div class="width-40">
                                        {{expense_form.quantity}}
                                    </div>
                                </td>
                                <td class="table-padding-left">
                                    <label for="price">Price: <span class="text-rd">*</span></label>
                                    <div class="width-60">
                                        {{expense_form.price}}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="w-100">
                        <tbody>
                            <tr>
                                <td class="cell-1">
                                    <label for="notes">Notes: (optional)</label>
                                </td>
                                <td>
                                    {{expense_form.notes}}
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <h5>Total:</h5>
                                </td>
                                <td>
                                    <h4 id="totalPrice">0</h4>
                                </td>
                            </tr>
                            
                            <tr>
                                <td></td>
                                <td>
                                    {% if not request.session.previous_page %}
                                        <a href="{% url 'list_of_expense' %}" class="link-info mt-3 mr-3">Cancel</a>
                                    {% else %}
                                        <a href="{{request.session.previous_page}}" class="link-info mt-3 mr-3">Cancel</a>
                                    {% endif %}
                                    <button type="submit" class="btn btn-color-primary btn-sm float-right">Submit</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
    // To open the sub menu automatically when visiting this page
    $(document).ready(function(){
        $(".books-menu.sidebar-dropdown").addClass("active")
        if($(".books-menu.sidebar-dropdown").hasClass("active")){
            $(".books-menu.sidebar-dropdown > .sidebar-submenu").slideDown(200);
        }
    })
</script>

<script>
    $(document).ready(function(){
        // Ajax for dependent dropdown of category field and sub category field
        $("#id_category").change(function(){
            var url = $("#expenseForm").attr("data-expense-url");
            var categoryId = $(this).val();
            $.ajax({
                url: url,
                data: {
                    "category": categoryId,
                },
                success: function(data){
                    $("#id_sub_category").html(data);
                }
            });
        });
    });
</script>
<script>
    // Auto sum in real time
    $(function(){
        $("#id_quantity, #id_price").keyup(function(){
            var qty = parseFloat($("#id_quantity").val()) || 0;
            var prc = parseFloat($("#id_price").val()) || 0;

            $("#totalPrice").text(qty*prc);
        });
    });
</script>
{% endblock js %}