{% extends 'base/base_all.html' %}
{% load humanize %}

{% block title %}
Journal
{% endblock title %}

{% block css %}
<link href="/../../static/books/books.css" rel="stylesheet">
{% endblock css %}

{% block content %}
<div class="row">
<!--
    <div class="col-12 col-md-12 mb-5">
        <h4>Performance for the last 30 days:</h4>
        <div class="books-canvas-container">
            <canvas id="journalList"></canvas>
        </div>
    </div>
-->

    <div class="mb-3">
        <a href="{% url 'list_of_income' %}">
            <button class="btn btn-transparent-scd">Incomes List</button>
        </a>
        <div class="vertical-ruler"></div>
        <a href="{% url 'list_of_expense' %}">
            <button class="btn btn-transparent-scd">Expenses List</button>
        </a>
        <div class="vertical-ruler"></div>
        <a>
            <button class="btn content-current disabled">Journal</button>
        </a>
    </div>

    <div class="col-12">
        <a href="{% url 'journal_to_csv' %}">Export to CSV</a>
        <table class="table table-bordered table-hover table-dark table-stripped subtitles table-font-resize">
            <thead>
                <tr>
                    <th scope="col" rowspan="2">No.</th>
                    <th scope="col" rowspan="2">Date</th>
                    <th scope="col" rowspan="1" colspan="2">Items</th>
                    <th scope="col" rowspan="2" class="small-hid">Quantity</th>
                    <th scope="col" rowspan="2" class="small-hid">Price</th>
                    <th scope="col" rowspan="1" colspan="2">Type</th>
                    <th scope="col" rowspan="2"></th>
                </tr>
                <tr>
                    <th scope="col">Income</th>
                    <th scope="col">Expense</th>
                    <th scope="col">Debit</th>
                    <th scope="col">Kredit</th>
                </tr>
            </thead>
            <tbody>
                {% for journal in paginate %}
                    <tr>
                        <td scope="row">{{forloop.counter}}</td>
                        <td>{{journal.date_added}}</td>
                        {% if journal.product_name == None %}
                            <td></td>
                        {% else %}
                            <td>{{journal.product_name}}</td>
                        {% endif %}
                        <td>{{journal.item_name}}</td>
                        <td class="small-hid">{{journal.quantity}}</td>
                        <td class="small-hid">Rp. {{journal.price|intcomma}}</td>
                        {% if journal.book_category == 'Debit' %}
                            <td>Rp. {{journal.total|intcomma}}</td>
                        {% endif %}
                        <td></td>
                        {% if journal.book_category == 'Kredit' %}
                            <td>Rp. {{journal.total|intcomma}}</td>
                        {% endif %}
                        {% if journal.book_category == 'Debit' %}
                            <td>
                                <a href="{% url 'edit_income' journal.pk %}">
                                    Edit
                                </a>
                            </td>
                        {% else %}
                            <td>
                                <a href="{% url 'edit_expense' journal.pk %}">
                                    Edit
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% for i in journal_date_for_chart %}
<p class="subtitles">{{i}}</p>
{% endfor %}

{% endblock content %}

{% block paginator %}
<div class="col-12">
{% if paginate.has_other_pages %}
    <ul class="pagination justify-content-end">
        {% if paginate.has_previous %}
            <li class="page-item">
                <a href="?page={{paginate.previous_page_number}}" class="page-link">&laquo;</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">&laquo;</span>
            </li>
        {% endif %}

        <!-- Split the displayed pages by the closest one page before and after-->
        {% for i in page_range %}
            {% if paginate.number == i %}
                <li class="page-item active">
                    <span class="page-link">{{ i }}</span>
                </li>
            {% else %}
                <li class="page-item">
                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if paginate.has_next %}
            <li class="page-item">
                <a href="?page={{paginate.next_page_number}}" class="page-link">&raquo;</a>
            </li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
        {% endif %}
    </ul>
{% endif %}
</div>
{% endblock paginator %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<script>
    var ctx = document.getElementById("journalList").getContext("2d");
    var chart = new Chart(ctx, {
        type: "bar",
        data: {
            labels: [
            {%for i in journal_date_for_chart%}"{{i.date_added}}",{%endfor%}
            ],
            datasets: [{
                label: "Income",
                data: [
                    {%for i in debit_chart_last_30_days%}
                        {x: "{{i.date_added}}", y: {{i.sum}}},
                    {%endfor%}
                ],
                backgroundColor: "#8cfe36",
            }, {
                label: "Expense",
                data: [
                    {%for i in kredit_chart_last_30_days%}
                        {x: "{{i.date_added}}", y: {{i.sum}}},
                    {%endfor%}
                ],
                backgroundColor: "#ff3f80",
            }]
        },
        options: {
            // To make canvas height-width customizeable
            maintainAspectRatio: false,

            legend: {
                display: true,
                labels : {
                    fontColor: "#bcccdc"
                }
            }
        }
    })
</script>
{% endblock js %}