{% extends 'base/base_test.html' %}
{% load humanize %}

{% block title %}
Journal
{% endblock title %}

{% block css %}
<link href="/../../static/books/books.css" rel="stylesheet">
<link href="/../../static/books/journal.css" rel="stylesheet">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock css %}

{% block messages %}
{% if messages %}
    {% for msg in messages %}
        {% if msg.tags %}
            <div class="col-md-5 msg-{{msg.tags}}-container">
                <p class="msg-{{msg.tags}} text-center">{{msg}}</p>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
{% endblock messages %}

{% block content %}
<nav class="books-bg-top">
    <div class="books-brand">
        <strong>Laporan Pembukuan</strong>
    </div>
</nav>

<div class="page-content">
    <div class="books-header">
        <strong>Buku Jurnal</strong>
    </div>
    <div class="books-header-subtitles subtitles">
        <p>Daftar lengkap data jurnal</p>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="books-chart-container">
                <canvas id="journalList"></canvas>
            </div>
        </div>
    </div>

    <div class="row filter-container">
        <form method="GET">
            <div class="row">
                <div class="start-date col-4">
                    <input type="text" id="flatpickr" name="start_date" placeholder="Tanggal Mulai" class="form-control form-control-sm">
                </div>
                <div class="col-4">
                    <input type="text" id="flatpickr" name="end_date" placeholder="Tanggal Selesai" class="form-control form-control-sm">
                </div>
                <button class="btn btn-color-primary btn-sm">
                    <i class="fas fa-filter"></i>
                </button>
            </div>
        </form>
        <div class="row">
            <div class="col no-padding">
                <a href="{% url 'register_expense' %}" title="Add New">
                    <button class="btn btn-color-primary btn-sm">
                        <i class="fas fa-plus"></i>
                    </button>
                </a>

                {% if start_date != None and start_date != '' and end_date != None and end_date != ''%}
                    <a href="{% url 'journal_to_csv' %}?start_date={{start_date}}&end_date={{end_date}}" title="Export to CSV">
                        <button class="btn btn-color-primary btn-sm">
                            <i class="fas fa-file-export mr-1"></i>
                        </button>
                    </a>
                {% else %}
                    <a href="{% url 'journal_to_csv' %}" title="Export to CSV">
                        <button class="btn btn-color-primary btn-sm">
                            <i class="fas fa-file-export"></i>
                        </button>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">    
        <div class="table-responsive-xl col-12">
            <table class="table table-bordered table-hover table-dark table-stripped subtitles table-font-resize">
                <thead>
                    <tr>
                        <th scope="col" rowspan="2">No.</th>
                        <th scope="col" rowspan="2">Date</th>
                        <th scope="col" rowspan="1" colspan="2">Items</th>
                        <th scope="col" rowspan="2" class="small-hid">Quantity</th>
                        <th scope="col" rowspan="2" class="small-hid">Price</th>
                        <th scope="col" rowspan="1" colspan="2">Type</th>
                        <th scope="col" rowspan="2"></th>
                    </tr>
                    <tr>
                        <th scope="col">Income</th>
                        <th scope="col">Expense</th>
                        <th scope="col">Debit</th>
                        <th scope="col">Kredit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for journal in paginate %}
                        <tr>
                            <td scope="row">{{forloop.counter}}</td>
                            <td>{{journal.date_added}}</td>
                            {% if journal.product_name == None %}
                                <td></td>
                            {% else %}
                                <td>{{journal.product_name}}</td>
                            {% endif %}
                            <td>{{journal.item_name}}</td>
                            <td class="small-hid">{{journal.quantity}}</td>
                            <td class="small-hid">Rp. {{journal.price|intcomma}}</td>
                            {% if journal.book_category == 'Debit' %}
                                <td>Rp. {{journal.total|intcomma}}</td>
                            {% endif %}
                            <td></td>
                            {% if journal.book_category == 'Kredit' %}
                                <td>Rp. {{journal.total|intcomma}}</td>
                            {% endif %}
                            {% if journal.book_category == 'Debit' %}
                                <td>
                                    <a href="{% url 'edit_income' journal.pk %}">
                                        Edit
                                    </a>
                                </td>
                            {% else %}
                                <td>
                                    <a href="{% url 'edit_expense' journal.pk %}">
                                        Edit
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}

{% block paginator %}
<div class="col-12">
{% if paginate.has_other_pages %}
    <ul class="pagination justify-content-end">
        {% if start_date and end_date %}
            {% if paginate.has_previous %}
                <li class="page-item">
                    <a href="?start_date={{start_date}}&end_date={{end_date}}&page={{paginate.previous_page_number}}" class="page-link">&laquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&laquo;</span>
                </li>
            {% endif %}

            <!-- Split the displayed pages by the closest one page before and after-->
            {% for i in page_range %}
                {% if paginate.number == i %}
                    <li class="page-item active">
                        <span class="page-link">{{ i }}</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a href="?start_date={{start_date}}&end_date={{end_date}}&page={{i}}" class="page-link">{{i}}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if paginate.has_next %}
                <li class="page-item">
                    <a href="?start_date={{start_date}}&end_date={{end_date}}&page={{paginate.next_page_number}}" class="page-link">&raquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
            {% endif %}
        {% else %}
            {% if paginate.has_previous %}
                <li class="page-item">
                    <a href="?page={{paginate.previous_page_number}}" class="page-link">&laquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&laquo;</span>
                </li>
            {% endif %}

            <!-- Split the displayed pages by the closest one page before and after-->
            {% for i in page_range %}
                {% if paginate.number == i %}
                    <li class="page-item active">
                        <span class="page-link">{{ i }}</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a href="?page={{i}}" class="page-link">{{i}}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if paginate.has_next %}
                <li class="page-item">
                    <a href="?page={{paginate.next_page_number}}" class="page-link">&raquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
            {% endif %}
        {% endif %}
    </ul>
{% endif %}
</div>
{% endblock paginator %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
    var datepicker = flatpickr("#flatpickr");
</script>

<script>
    // To open the sub menu automatically when visiting this page
    $(document).ready(function(){
        $(".books-menu.sidebar-dropdown").addClass("active")
        if($(".books-menu.sidebar-dropdown").hasClass("active")){
            $(".books-menu.sidebar-dropdown > .sidebar-submenu").slideDown(200);
        }
    })
</script>

<script>
    var ctx = document.getElementById('journalList').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [
            {% for date in journal_date_for_chart %}
                '{{date.date_added}}',
            {% endfor %}
            ],
            datasets: [{
                label: 'Debit',
                data: [
                {% for i in debit_chart %}
                    {x: '{{i.date_added}}', y: {{i.sum}}},
                {% endfor %}
                ],
                //backgroundColor: '#8dfe36a1',
                borderColor: '#8cfe36',
                //fill: true,
                tension: .3,
            },{
                label: 'Kredit',
                data: [
                {% for i in kredit_chart %}
                    {x: '{{i.date_added}}', y: {{i.sum}}},
                {% endfor %}
                ],
                //backgroundColor: 'rgba(255, 99, 71, 0.450)',
                borderColor: '#ff3f80',
                //fill: true,
                tension: .3,
            }]
        },
        options: {
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    labels: {
                        color: "rgba(255, 255, 255, 0.700)",
                        font: {
                            size: 12,
                        },
                    },
                },
            },
            scales: {
                y: {
                    //stacked: true,
                    beginAtZero: true,
                    ticks: {
                        color: "rgba(255, 255, 255, 0.700)",
                        font: {
                            size: 10,
                        }
                    },
                    grid: {
                        borderColor: "rgba(255, 255, 255, 0.700)",
                        drawOnChartArea: false,
                    },
                },
                x: {
                    ticks: {
                        color: "rgba(255, 255, 255, 0.700)",
                        font: {
                            size: 10,
                        }
                    },
                    grid: {
                        borderColor: "rgba(255, 255, 255, 0.700)",
                        drawOnChartArea: false,
                    }
                }
            },
        },
    });
</script>
{% endblock js %}