{% extends 'base\base_all.html' %}
{% load humanize %}

{% block title %}Ledger{% endblock title %}

{% block css %}
<link href="/../../static/books/books.css" rel="stylesheet">
{% endblock css %}

{% block content %}
<div class="table-font-resize">
    <h4>Pendapatan Bulanan</h4>
    <hr class="hr-styling" />
    <div class="row">
        <div class="col-lg-5 col-md-4 col-5">
            <h5>Penjualan</h5>
        </div>
        <div class="col-lg-3 col-md-4 col-3">
            {% if monthly_income.sum > 0 %}
                <p class="subtitles">
                    Rp. {{monthly_income.sum|intcomma}}
                </p>
            {% else %}
                <p class="subtitles">0</p>
            {% endif %}
        </div>
        <div class="col-lg-3 col-md-4 col-3">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-5 col-md-4 col-5">
        </div>

        <div class="col-lg-3 col-md-4 col-3">
        </div>

        <div class="col-lg-3 col-md-4 col-3">
            {% if monthly_income.sum > 0 %}
                <h6>
                    Rp. {{monthly_income.sum|intcomma}}
                </h6>
            {% else %}
                <h6 class="subtitles">0</h6>
            {% endif %}
        </div>
    </div>

    <h4>Harga Pokok Penjualan</h4>
    <hr class="hr-styling" />
    <div class="row">
        <div class="col-lg-5 col-md-4 col-5">
            <h5>Bahan Mentah</h5>
        </div>
        <div class="col-lg-3 col-md-4 col-3">
            {% if monthly_raw_material.sum > 0%}
                <p class="subtitles">
                    Rp. {{monthly_raw_material.sum|intcomma}}
                </p>
            {% else %}
                <p class="subtitles">Rp. 0</p>
            {% endif %}
        </div>
        <div class="col-lg-3 col-md-4 col-3">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-5 col-md-4 col-5">
            <h5>Barang Setengah Jadi</h5>
        </div>
        <div class="col-lg-3 col-md-4 col-3">
            {% if monthly_wip.sum > 0%}
                <p class="subtitles">
                    Rp. {{monthly_wip.sum|intcomma}}
                </p>
            {% else %}
                <p class="subtitles">Rp. 0</p>
            {% endif %}
        </div>
        <div class="col-lg-3 col-md-4 col-3">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-5 col-md-4 col-5">
            <h5>Barang Jadi</h5>
        </div>
        <div class="col-lg-3 col-md-4 col-3">
            {% if monthly_finished_goods.sum > 0%}
                <p class="subtitles">
                    Rp. {{monthly_finished_goods.sum|intcomma}}
                </p>
            {% else %}
                <p class="subtitles">Rp. 0</p>
            {% endif %}
        </div>
        <div class="col-lg-3 col-md-4 col-3">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-5 col-md-4 col-5">
            <h5>Biaya Produksi Lainnya</h5>
        </div>
        <div class="col-lg-3 col-md-4 col-3">
            {% if monthly_production_misc.sum > 0%}
                <p class="subtitles">
                    Rp. {{monthly_production_misc.sum|intcomma}}
                </p>
            {% else %}
                <p class="subtitles">Rp. 0</p>
            {% endif %}
        </div>
        <div class="col-lg-3 col-md-4 col-3">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-5 col-md-4 col-5">
        </div>
        <div class="col-lg-3 col-md-4 col-3">
        </div>
        <div class="col-lg-3 col-md-4 col-3">
            {% if monthly_production_sum %}
                <h6>
                    Rp. {{monthly_production_sum|intcomma}}
                </h6>
            {% else %}
                <h6>Rp. 0</h6>
            {% endif %}
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-lg-5 col-md-4 col-5">
            <h5>Laba Kotor</h5>
        </div>
        <div class="col-lg-3 col-md-4 col-3">
        </div>
        <div class="col-lg-3 col-md-4 col-3">
            {% if monthly_gross_profit > 0 %}
                <h6 class="text-gr">Rp. {{monthly_gross_profit|intcomma}}0</h6>
            {% else %}
                <h6 class="text-rd">Rp. {{monthly_gross_profit|intcomma}}0</h6>
            {% endif %}
        </div>
    </div>

    <h3>Beban Usaha</h3>
    <h4>Biaya Operasional</h4>
    <hr class="hr-styling" />
    <div class="row">
        <div class="col-lg-5 col-md-4 col-5">
            <h5>Biaya Pemasaran</h5>
        </div>
        <div class="col-lg-3 col-md-4 col-3">
            {% if monthly_marketing.sum > 0 %}
                <p class="subtitles">
                    Rp. {{monthly_marketing.sum|intcomma}}
                </p>
            {% else %}
                <p class="subtitles">Rp. 0</p>
            {% endif %}
        </div>
        <div class="col-lg-3 col-md-4 col-3">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-5 col-md-4 col-5">
            <h5>Biaya Logistik</h5>
        </div>
        <div class="col-lg-3 col-md-4 col-3">
            {% if monthly_logistic.sum > 0 %}
                <p class="subtitles">
                    Rp. {{monthly_logistic.sum|intcomma}}
                </p>
            {% else %}
                <p class="subtitles">Rp. 0</p>
            {% endif %}
        </div>
        <div class="col-lg-3 col-md-4 col-3">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-5 col-md-4 col-5">
            <h5>Biaya Operasional Lainnya</h5>
        </div>
        <div class="col-lg-3 col-md-4 col-3">
            {% if monthly_operation_misc.sum > 0 %}
                <p class="subtitles">
                    Rp. {{monthly_operation_misc.sum|intcomma}}
                </p>
            {% else %}
                <p class="subtitles">Rp. 0</p>
            {% endif %}
        </div>
        <div class="col-lg-3 col-md-4 col-3">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-5 col-md-4 col-5">
        </div>
        <div class="col-lg-3 col-md-4 col-3">
        </div>
        <div class="col-lg-3 col-md-4 col-3">
            {% if monthly_operational_sum > 0 %}
                <h6>Rp. {{monthly_operational_sum|intcomma}}0</h6>
            {% else %}
                <h6>Rp. 0</h6>
            {% endif %}
        </div>
    </div>

    <h4>Biaya Administrasi</h4>
    <hr class="hr-styling" />
    <div class="row">
        <div class="col-lg-5 col-md-4 col-5">
            <h5>Biaya Keperluan Kantor</h5>
        </div>
        <div class="col-lg-3 col-md-4 col-3">
            {% if monthly_office_needs.sum > 0 %}
                <p class="subtitles">
                    Rp. {{monthly_office_needs.sum|intcomma}}
                </p>
            {% else %}
                <p class="subtitles">Rp. 0</p>
            {% endif %}
        </div>
        <div class="col-lg-3 col-md-4 col-3">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-5 col-md-4 col-5">
            <h5>Biaya Upah Karyawan</h5>
        </div>
        <div class="col-lg-3 col-md-4 col-3">
            {% if monthly_salary.sum > 0 %}
                <p class="subtitles">
                    Rp. {{monthly_salary.sum|intcomma}}
                </p>
            {% else %}
                <p class="subtitles">Rp. 0</p>
            {% endif %}
        </div>
        <div class="col-lg-3 col-md-4 col-3">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-5 col-md-4 col-5">
            <h5>Biaya Sewa</h5>
        </div>
        <div class="col-lg-3 col-md-4 col-3">
            {% if monthly_rent.sum > 0 %}
                <p class="subtitles">
                    Rp. {{monthly_rent.sum|intcomma}}
                </p>
            {% else %}
                <p class="subtitles">Rp. 0</p>
            {% endif %}
        </div>
        <div class="col-lg-3 col-md-4 col-3">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-5 col-md-4 col-5">
            <h5>Biaya Administrasi Lainnya</h5>
        </div>
        <div class="col-lg-3 col-md-4 col-3">
            {% if monthly_administration_misc.sum > 0 %}
                <p class="subtitles">
                    Rp. {{monthly_administration_misc.sum|intcomma}}
                </p>
            {% else %}
                <p class="subtitles">Rp. 0</p>
            {% endif %}
        </div>
        <div class="col-lg-3 col-md-4 col-3">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-5 col-md-4 col-5">
        </div>
        <div class="col-lg-3 col-md-4 col-3">
        </div>
        <div class="col-lg-3 col-md-4 col-3">
            {% if monthly_administration_sum.sum > 0 %}
                <h6>
                    Rp. {{monthly_administration_sum.sum|intcomma}}
                </h6>
            {% else %}
                <h6 class="subtitles">Rp. 0</h6>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-5 col-md-4 col-5">
            <h5>Total Beban Usaha</h5>
        </div>
        <div class="col-lg-3 col-md-4 col-3">
        </div>
        <div class="col-lg-3 col-md-4 col-3">
            {% if monthly_business_load_sum.sum > 0 %}
                <h6>
                    Rp. {{monthly_business_load_sum.sum|intcomma}}
                </h6>
            {% else %}
                <h6 class="subtitles">Rp. 0</h6>
            {% endif %}
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-lg-5 col-md-4 col-5">
            <h5>NETT Profit</h5>
        </div>
        <div class="col-lg-3 col-md-4 col-3">
        </div>
        <div class="col-lg-3 col-md-4 col-3">
            {% if monthly_nett_profit > 0 %}
                <h6 class="text-gr">Rp. {{monthly_nett_profit|intcomma}}0</h6>
            {% else %}
                <h6 class="text-rd">Rp. {{monthly_nett_profit|intcomma}}0</h6>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}