{% extends 'base/base_all.html' %}
{% load humanize %}

{% block title %}
{{request.user.companydetail.company_name}}'s List of Expense
{% endblock title %}

{% block css %}
<link href="/../../static/books/books.css" rel="stylesheet">
{% endblock css %}

{% block content %}
<div class="col-12 col-md-12 mb-5">
    <div class="books-canvas-container">
        <canvas id="expenseList"></canvas>
    </div>
</div>

<div class="col-12">
    <h3 class="mb-3">List of Expenses</h3>
    <a href="{% url 'expense_filter_by_date' %}">Filter the data</a>
    <div class="table-responsive-xl">
        <table class="table table-bordered table-hover table-dark table-striped subtitles table-font-resize">
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Date</th>
                <th scope="col">Items</th>
                <th scope="col" class="small-hid">Category</th>
                <th scope="col" class="small-hid">Sub-category</th>
                <th scope="col" class="small-hid">Qty</th>
                <th scope="col" class="small-hid">Price</th>
                <th scope="col">Total</th>
                <th scope="col" class="small-hid">Notes</th>
                <th></th>
            </tr>
            {% for expense in paginator %}
                <tr>
                    <td scope="row">{{forloop.counter}}</td>
                    <td>{{expense.date_added}}</td>
                    <td>{{expense.item_name}}</td>
                    <td class="small-hid">{{expense.category}}</td>
                    <td class="small-hid">{{expense.sub_category}}</td>
                    <td class="small-hid">{{expense.quantity}}</td>
                    <td class="small-hid">Rp. {{expense.price|intcomma}}</td>
                    <td>Rp. {{expense.total|intcomma}}</td>
                    <td class="small-hid">{{expense.notes}}</td>
                    <td><a href="{% url 'edit_expense' expense.pk %}">Edit</a>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock content %}

{% block paginator %}
{% if paginator.has_other_pages %}
    <ul>
        {% if paginator.has_previous %}
            <a href="?page={{paginator.previous_page_number}}">&laquo;</a></li>
        {% else %}
            <li disabled><span>&laquo;</span></li>
        {% endif %}

        {% for i in page_range %}
            {% if paginator.number == i %}
                <li>{{ i }}</li>
            {% else %}
                <li><a href="?page={{i}}">{{i}}</a></li>
            {% endif %}
        {% endfor %}

        {% if paginator.has_next %}
            <li><a href="?page={{paginator.next_page_number}}">&raquo;</a></li>
        {% else %}
            <li disabled><span>&raquo;</span></li>
        {% endif %}
    </ul>
{% endif %}
{% endblock paginator %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<script>
    var ctx = document.getElementById("expenseList").getContext("2d");
    var chart = new Chart(ctx, {
        type: "line",
        data: {
            labels: [
            {%for i in expense_chart_last_30_days%}"{{i.date_added}}",{%endfor%}
            ],
            datasets: [{
                label: "Expense",
                data: [
                {%for i in expense_chart_last_30_days%}{{i.sum}},{%endfor%}
                ],
                backgroundColor: "tomato",
            }]
        },
        options: {
            // To make canvas height-width customizeable
            maintainAspectRatio: false,

            legend: {
                display: true,
                labels : {
                    fontColor: "#bcccdc"
                }
            }
        }
    })
</script>
{% endblock js %}