{% extends 'base/base_all.html' %}
{% load humanize %}

{% block title %}
{{request.user.companydetail.company_name}}'s List of Income
{% endblock title %}

{% block css %}
<link href="/../../static/books/books.css" rel="stylesheet">
{% endblock css %}

{% block messages %}
{% if messages %}
    {% for msg in messages %}
        {% if msg.tags %}
            <div class="col-md-5 msg-{{msg.tags}}-container">
                <p class="msg-{{msg.tags}} text-center">{{msg}}</p>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
{% endblock messages %}

{% block content %}
<div class="row">
    <div class="col-12 col-md-12 mb-5">
        <div class="books-canvas-container">
            <canvas id="incomeList"></canvas>
        </div>
    </div>
</div>

<div class="row">
    <div class="mb-3">
        <a href="{% url 'list_of_income' %}">
            <button class="btn content-current disabled">Incomes List</button>
        </a>
        <div class="vertical-ruler"></div>
        <a href="{% url 'list_of_expense' %}">
            <button class="btn btn-transparent-scd">Expenses List</button>
        </a>
        <div class="vertical-ruler"></div>
        <a href="{% url 'journal' %}">
            <button class="btn btn-transparent-scd">Journal</button>
        </a>
        <div class="vertical-ruler"></div>
        <a href="{% url 'profit_loss' %}">
            <button class="btn btn-transparent-scd">Profit Loss</button>
        </a>
        </div>
    </div>
</div>

<form method="GET" class="mb-4">
    <div class="row">
        <div class="col-12">
            <h5>Filter</h5>
        </div>

        <div class="col-lg-3 col-5">
            <label for="start_date" class="subtitles">Start Date</label>
            <input type="date" name="start_date" class="form-control form-control-sm" id="start_date">
        </div>
        <div class="col-lg-3 col-5">
            <label for="end_date" class="subtitles">End Date</label>
            <input type="date" name="end_date" class="form-control form-control-sm" id="end_date">
        </div>
        <button class="btn btn-sm" style="display: inline;"><i class="fas fa-filter"></i></button>
    </div>
</form>

<div class="row mr-1">
    <div class="col-12">
        <h3 class="mb-3">List of Income</h3>
        <div class="table-responsive-xl">
            <table class="table table-bordered table-hover table-dark table-striped subtitles table-font-resize">
                <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Date</th>
                    <th scope="col">Items</th>
                    <th scope="col" class="small-hid">Qty</th>
                    <th scope="col" class="small-hid">Price</th>
                    <th scope="col" class="small-hid">Additional</th>
                    <th scope="col">Total</th>
                    <th scope="col" class="small-hid">Notes</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for income in paginate %}
                    <tr>
                        <td scope="row">{{forloop.counter}}</td>
                        <td>{{income.date_added}}</td>
                        <td>{{income.product_name}}</td>
                        <td class="small-hid">{{income.quantity}}</td>
                        <td class="small-hid">Rp. {{income.price|intcomma}}</td>
                        <td class="small-hid">Rp. {{income.additional_price|intcomma}}</td>
                        <td>Rp. {{income.total|intcomma}}</td>
                        <td class="small-hid">{{income.notes}}</td>
                        <td><a href="{% url 'edit_income' income.pk %}">Edit</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}

{% block paginator %}
<div class="col-12">
{% if paginate.has_other_pages %}
    <ul class="pagination justify-content-end">
        {% if start_date and end_date %}
            {% if paginate.has_previous %}
                <li class="page-item">
                    <a href="?start_date={{start_date}}&end_date={{end_date}}&page={{paginate.previous_page_number}}" class="page-link">&laquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&laquo;</span>
                </li>
            {% endif %}

            <!-- Split the displayed pages by the closest one page before and after-->
            {% for i in page_range %}
                {% if paginate.number == i %}
                    <li class="page-item active">
                        <span class="page-link">{{ i }}</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a href="?start_date={{start_date}}&end_date={{end_date}}&page={{i}}" class="page-link">{{i}}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if paginate.has_next %}
                <li class="page-item">
                    <a href="?start_date={{start_date}}&end_date={{end_date}}&page={{paginate.next_page_number}}" class="page-link">&raquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
            {% endif %}
        {% else %}
            {% if paginate.has_previous %}
                <li class="page-item">
                    <a href="?page={{paginate.previous_page_number}}" class="page-link">&laquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&laquo;</span>
                </li>
            {% endif %}

            <!-- Split the displayed pages by the closest one page before and after-->
            {% for i in page_range %}
                {% if paginate.number == i %}
                    <li class="page-item active">
                        <span class="page-link">{{ i }}</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a href="?page={{i}}" class="page-link">{{i}}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if paginate.has_next %}
                <li class="page-item">
                    <a href="?page={{paginate.next_page_number}}" class="page-link">&raquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
            {% endif %}
        {% endif %}
    </ul>
{% endif %}
</div>
{% endblock paginator %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>

<script>
    var ctx = document.getElementById("incomeList").getContext("2d");
    var chart = new Chart(ctx, {
        type: "line",
        data: {
            labels: [
            {%for i in income_chart_last_30_days%}"{{i.date_added}}",{%endfor%}
            ],
            datasets: [{
                label: "Income",
                data: [
                {%for i in income_chart_last_30_days%}{{i.sum}},{%endfor%}
                ],
                backgroundColor: "#0290a379",
                borderColor: "#028fa3",
                fill: true,
                tension: .3,
            }]
        },
        options: {
            // To make canvas height-width customizeable
            maintainAspectRatio: false,

            legend: {
                display: true,
                labels : {
                    fontColor: "#bcccdc"
                }
            },
            scales: {
                y: {
                    beginAtZero: true,
                    ticks: {
                        font: {
                            size: 10,
                        }
                    },
                },
                x: {
                    ticks: {
                        font: {
                            size: 10,
                        }
                    }
                },
            }
        }
    })
</script>
{% endblock js %}