{% extends 'base/base_test.html' %}
{% load humanize %}

{% block title %}
{{request.user.companydetail.company_name}}'s List of Income
{% endblock title %}

{% block css %}
<link href="/../../static/books/books.css" rel="stylesheet">
<link href="/../../static/books/income_list.css" rel="stylesheet">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock css %}

{% block messages %}
{% if messages %}
    {% for msg in messages %}
        {% if msg.tags %}
            <div class="col-md-5 msg-{{msg.tags}}-container">
                <p class="msg-{{msg.tags}} text-center">{{msg}}</p>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
{% endblock messages %}

{% block content %}
<nav class="books-bg-top">
    <div class="books-brand">
        <strong>Laporan Pembukuan</strong>
    </div>
</nav>

<div class="page-content">
    <div class="books-header">
        <strong>Buku Penghasilan</strong>
    </div>
    <div class="books-header-subtitles subtitles">
        <p>Daftar lengkap data penghasilan</p>
    </div>

    <div class="row sum-container">
        <div class="col">
            <div class="general-panel">
                <p class="subtitles">Penjualan Bulan {{month}}</p>
            </div>
        </div>
        <div class="col">
            <div class="general-panel">
                <p class="subtitles">Profit Bulan {{month}}</p>
            </div>
        </div>
        {% if start_date != '' and end_date != '' and start_date != None and end_date != None %}
            <div class="col">
                <div class="general-panel">
                    <p class="subtitles">Total terjual (filtered)</p>
                </div>
            </div>
            <div class="col">
                <div class="general-panel">
                    <p class="subtitles">Total profit (filtered)</p>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-12">
            <div class="books-chart-container">
                <canvas id="incomeList"></canvas>
            </div>
        </div>
    </div>

    <div class="row filter-container">
        <form method="GET">
            <div class="row">
                <div class="start-date col-4">
                    <input type="text" id="flatpickr" name="start_date" placeholder="Tanggal Mulai" class="form-control form-control-sm">
                </div>
                <div class="col-4">
                    <input type="text" id="flatpickr" name="end_date" placeholder="Tanggal Selesai" class="form-control form-control-sm">
                </div>
                <button class="btn btn-color-primary btn-sm">
                    <i class="fas fa-filter"></i>
                </button>
            </div>
        </form>
        <div class="row">
            <div class="col no-padding">
                <a href="{% url 'register_income' %}" title="Add New">
                    <button class="btn btn-color-primary btn-sm">
                        <i class="fas fa-plus"></i>
                    </button>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="table-responsive-xl">
                <table class="table table-bordered table-hover table-dark table-striped subtitles table-font-resize">
                    <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Date</th>
                        <th scope="col">Items</th>
                        <th scope="col" class="small-hid">Qty</th>
                        <th scope="col" class="small-hid">Price</th>
                        <th scope="col" class="small-hid">Additional</th>
                        <th scope="col">Total</th>
                        <th scope="col" class="small-hid">Notes</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for income in paginate %}
                        <tr>
                            <td scope="row">{{forloop.counter}}</td>
                            <td>{{income.date_added}}</td>
                            <td>{{income.product_name}}</td>
                            <td class="small-hid">{{income.quantity}}</td>
                            <td class="small-hid">Rp. {{income.price|intcomma}}</td>
                            <td class="small-hid">Rp. {{income.additional_price|intcomma}}</td>
                            <td>Rp. {{income.total|intcomma}}</td>
                            <td class="small-hid">{{income.notes}}</td>
                            <td><a href="{% url 'edit_income' income.pk %}">Edit</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block paginator %}
<div class="col-12">
{% if paginate.has_other_pages %}
    <ul class="pagination justify-content-end">
        {% if start_date and end_date %}
            {% if paginate.has_previous %}
                <li class="page-item">
                    <a href="?start_date={{start_date}}&end_date={{end_date}}&page={{paginate.previous_page_number}}" class="page-link">&laquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&laquo;</span>
                </li>
            {% endif %}

            <!-- Split the displayed pages by the closest one page before and after-->
            {% for i in page_range %}
                {% if paginate.number == i %}
                    <li class="page-item active">
                        <span class="page-link">{{ i }}</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a href="?start_date={{start_date}}&end_date={{end_date}}&page={{i}}" class="page-link">{{i}}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if paginate.has_next %}
                <li class="page-item">
                    <a href="?start_date={{start_date}}&end_date={{end_date}}&page={{paginate.next_page_number}}" class="page-link">&raquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
            {% endif %}
        {% else %}
            {% if paginate.has_previous %}
                <li class="page-item">
                    <a href="?page={{paginate.previous_page_number}}" class="page-link">&laquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&laquo;</span>
                </li>
            {% endif %}

            <!-- Split the displayed pages by the closest one page before and after-->
            {% for i in page_range %}
                {% if paginate.number == i %}
                    <li class="page-item active">
                        <span class="page-link">{{ i }}</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a href="?page={{i}}" class="page-link">{{i}}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if paginate.has_next %}
                <li class="page-item">
                    <a href="?page={{paginate.next_page_number}}" class="page-link">&raquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
            {% endif %}
        {% endif %}
    </ul>
{% endif %}
</div>
{% endblock paginator %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
    var datepicker = flatpickr("#flatpickr");
</script>

<script>
    // To open the sub menu automatically when visiting this page
    $(document).ready(function(){
        $(".books-menu.sidebar-dropdown").addClass("active")
        if($(".books-menu.sidebar-dropdown").hasClass("active")){
            $(".books-menu.sidebar-dropdown > .sidebar-submenu").slideDown(200);
        }
    })
</script>

<script>
    var ctx = document.getElementById("incomeList").getContext("2d");
    var chart = new Chart(ctx, {
        type: "line",
        data: {
            labels: [
            {%for i in income_chart_last_30_days%}"{{i.date_added}}",{%endfor%}
            ],
            datasets: [{
                label: "Income",
                data: [
                {%for i in income_chart_last_30_days%}{{i.sum}},{%endfor%}
                ],
                backgroundColor: "#0290a379",
                borderColor: "#028fa3",
                fill: true,
                tension: .3,
            }]
        },
        options: {
            // To make canvas height-width customizeable
            maintainAspectRatio: false,

            plugins: {
                legend: {
                    display: true,
                    labels: {
                        color: "rgba(255, 255, 255, 0.700)",
                    },
                },
            },
            scales: {
                y: {
                    beginAtZero: true,
                    ticks: {
                        color: "rgba(255, 255, 255, 0.700)",
                        font: {
                            size: 10,
                        },
                    },
                    grid: {
                        borderColor: "rgba(255, 255, 255, 0.700)",
                        drawOnChartArea: false,
                    },
                },
                x: {
                    ticks: {
                        color: "rgba(255, 255, 255, 0.700)",
                        font: {
                            size: 10,
                        },
                    },
                    grid: {
                        borderColor: "rgba(255, 255, 255, 0.700)",
                        drawOnChartArea: false,
                    },
                },
            }
        }
    })
</script>
{% endblock js %}