{% extends 'base/base_test.html' %}
<!-- A front end 'total' field will be added via js -->

{% block title %}
Add Income
{% endblock title %}

{% block css %}
<link href="/../../static/books/books.css" rel="stylesheet">
<link href="/../../static/books/register_income.css" rel="stylesheet">
{% endblock css%}

{% block register_income %}
{% if messages %}
    {% for msg in messages %}
        {% if msg.tags %}
            <div class="col-md-5 msg-{{msg.tags}}-container">
                <p class="msg-{{msg.tags}} text-center">{{msg}}</p>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
{% endblock register_income %}

{% block content %}
<nav class="books-bg-top">
    <div class="books-brand">
        <strong>Pendaftaran Data-data</strong>
    </div>
</nav>

<div class="page-content">
    <div class="w-100 h-100">
        <div class="income-form-container">
            <div class="form-header">
                <h5>Formulir Pendaftaran Produk</h5>
                <hr />
            </div>
            <form method="POST" id="incomeForm" data-income-url="{% url 'income_form_autofill' %}">
                {% csrf_token %}
                <div class="subtitles">
                    <p class="subtitles text-right"><strong><span class="text-rd">*</span>wajib diisi</strong></p>
                    <table>
                        <tbody>
                            <tr class="table-padding-bottom">
                                <td class="cell-1">
                                    <label for="date_added">Date Added: <span class="red-dgr">*</span></label>
                                </td>
                                <td>
                                    <div class="width-40">
                                        {{income_form.date_added}}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="cell-1">
                                    <label for="product_name">Product Name: <span class="red-dgr">*</span></label>
                                </td>
                                <td>
                                    <div class="width-40">
                                    {{income_form.product_name}}
                                    </div>
                                </td>
                            </tr>

                            <tr><td><br/></td></tr>

                            <tr class="table-padding-top table-border-top">
                                <td class="cell-1">
                                    <label for="quantity">Quantity: <span class="red-dgr">*</span></label>
                                    <div class="qty width-60">
                                        {{income_form.quantity}}
                                    </div>
                                </td>
                                <td>
                                    <label for="price">Price: <span class="red-dgr">*</span></label>
                                    <div class="width-50">
                                        {{income_form.price}}
                                    </div>
                                </td>
                            </tr>
                            <tr class="table-padding-bottom table-border-bottom">
                                <td></td>
                                <td>
                                    <label for="additional_price">Additional Price: (optional)</label>
                                    <div class="width-50">
                                        {{income_form.additional_price}}
                                    </div>
                                </td>
                            </tr>

                            <tr><td><br/></td></tr>

                            <tr>
                                <td class="cell-1">
                                    <label for="notes">Notes: (optional)</label>
                                </td>
                                <td>
                                    <div style="max-height: 50%">
                                        {{income_form.notes}}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="cell-1">
                                    <h5 class="subtitles">Total:</h5>
                                </td>
                                <td>
                                    <h4 id="totalPrice" class="subtitles">0</h4>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="float-right">
                                    <button type="submit" class="btn btn-color-primary mt-2">Submit</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function(){
        $("#id_product_name").change(function(){
            var url = $("#incomeForm").attr("data-income-url");
            var prcId = $(this).val()
            $.ajax({
                url: url,
                data: {
                    "product_name": prcId,
                },
                success: function(data){
                    // You need parseFloat so the form field could detect it as float type, or parseInt for integer type
                    // This is applied only if your form field required a number input, refer to expense page for string type
                    var prc = parseFloat(data);
                    $("#id_price").val(prc)
                }
            })
        })
    });
</script>
<script>
    $(function(){
        $("#id_quantity, #id_price, #id_additional_price").change(function(){
            var qty = parseFloat($("#id_quantity").val()) || 0;
            var prc = parseFloat($("#id_price").val()) || 0;
            var add_prc = parseFloat($("#id_additional_price").val()) || 0;

            $("#totalPrice").text((qty*prc)+add_prc);
        });
    });
</script>
{% endblock js %}