{% extends 'base/base_test.html' %}

{% block title %}
Register Product
{% endblock title %}

{% block css %}
<link href="/../../static/books/register_product.css" rel="stylesheet">
<link href="/../../static/books/books.css" rel="stylesheet">
{% endblock css %}

{% block register_product %}
{% if messages %}
    {% for msg in messages %}
        {% if msg.tags %}
            <div class="col-12 msg-{{msg.tags}}-container">
                <p class="msg-{{msg.tags}} text-center">{{msg}}</p>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
{% endblock register_product %}

{% block content %}
<nav class="books-bg-top">
    <div class="books-brand">
        <strong>Input Data</strong>
    </div>
</nav>

<div class="page-content">
    <div class="h-100 w-100">
        <div class="product-form-container">
            <div class="form-header">
                <h5>Input Produk</h5>
                <hr />
            </div>

            <form method="POST">
                {% csrf_token %}
                <p class="subtitles text-right"><strong><span class="text-rd">*</span> wajib diisi</strong></p>
                <div class="mb-2">
                    <label for="product_name" class="subtitles">Product Name: <span class="text-rd">*</span></label>
                    {{product_form.product_name}}
                </div>

                <label for="price" class="subtitles">Price: <span class="text-rd">*</span></label>
                {{product_form.price}}

                <button type="submit" class="btn btn-color-primary btn-sm float-right mt-2">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}