{% extends 'base/base_test.html' %}
{% load humanize %}

{% block title %}
{{request.user.username}}'s Dashboard
{% endblock title %}

{% block css %}
<link href="/../../static/books/user_dashboard.css" rel="stylesheet">
{% endblock css %}

{% block content %}
<nav class="dashboard-bg-top">
    <div class="dashboard-brand">
        <strong>Dashboard</strong>
    </div>
</nav>

<div class="page-content">
    <div class="row">
        <div class="container-num col-12 col-xl-6">
            <div class="row margin-auto">
                <div class="income-margin col-12 col-md-6 col-lg-4 col-xl-6">
                    <div class="dashboard-container income-panel">
                        <table class="table-content-container" style="height: 100%">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="text-gr">
                                            <i class="fas fa-cash-register"></i>
                                        </div>
                                    </td>
                                    <td class="table-align-right">
                                        <span>
                                            <h5 class="text-gr"><strong>
                                                {% if income_in_running_month.sum > 0%}
                                                    Rp. {{income_in_running_month.sum|intcomma}}
                                                {% else %}
                                                    Rp. 0.00
                                                {% endif %}
                                            </strong></h5>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td class="table-text-bottom">
                                        <p class="subtitles text-right">
                                            <strong>Penghasilan bulan ini</strong>
                                        </p>
                                    </td>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-6">
                    <div class="dashboard-container expense-panel">
                        <table class="table-content-container" style="height: 100%">
                            <tbody>
                                <tr>
                                    <td>
                                        <div>
                                            <i class="fas fas fa-credit-card"></i>
                                        </div>
                                    </td>
                                    <td class="table-align-right">
                                        <span>
                                        <h5 class="text-rd"><strong>
                                            {% if expense_in_running_month.sum > 0 %}
                                                Rp. {{expense_in_running_month.sum|intcomma}}
                                            {% else %}
                                                Rp. 0.00
                                            {% endif %}
                                        </strong></h5>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td class="table-text-bottom">
                                        <p class="subtitles text-right">
                                            <strong>Pengeluaran bulan ini</strong>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-6">
                    <div class="dashboard-container profit-panel">
                        {% if nett_profit > 0 %}
                            <h5 class="text-gr">
                                <strong>
                                Rp. {{nett_profit|intcomma}}0
                                </strong>
                            </h5>
                        {% elif nett_profit < 0 %}
                            <h5 class="text-rd">
                                <strong>
                                Rp. {{nett_profit|intcomma}}0
                                </strong>
                            </h5>
                        {% else %}
                            <h5><strong>Rp. 0.00</strong></h5>
                        {% endif %}
                        <div class="mini-chart-container">
                            <h4 class="subtitles">
                                <strong>
                                {{profit_percentage}}<span style="font-size:14px"> %</span>
                                </strong>
                            </h4>
                        </div>
                        <p class="subtitles text-right">
                            <strong>Profit bulan ini</strong>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row no-whitespace mt-2 margin-auto">
                <div class="anal-margin col-12">
                    <div class="container-primary-sub">
                        <h5>Ingin lihat analisis bisnis Anda?
                            <a href="{% url 'journal' %}" class="float-right">
                                GO
                                <i class="ml-1 fas fa-caret-square-right fa-2x"></i>
                            </a>
                        </h5>
                    </div>
                </div>
                <div class="col-12 mt-2">
                    <div class="container-primary">
                        <h5>Butuh inspirasi? Coba kunjungi blog kami!
                            <a href="#" class="float-right">
                                GO
                                <i class="ml-1 fas fa-caret-square-right fa-2x"></i>
                            </a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="chart-row col-12 col-xl-6">
            <div class="row">
                <div class="col-12">
                    <div class="dashboard-chart-container top-2">
                        <h4>Penghasilan Bulan {{month}}</h4>
                        <canvas id="incomeChart"></canvas>
                    </div>
                </div>
                <div class="col-12">
                    <div class="dashboard-chart-container">
                        <h4>Pengeluaran Bulan {{month}}</h4>
                        <canvas id="expenseChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
                
    <div class="row">
        <div class="col-6 col-xl-3 mt-3">
            <div class="dashboard-container general-panel">
                <h4>Placeholder</h4>
            </div>
        </div>
        <div class="col-6 col-xl-3 mt-3">
            <div class="dashboard-container general-panel">
                <h4>Placeholder</h4>
            </div>
        </div>
        <div class="col-6 col-xl-3 mt-3">
            <div class="dashboard-container general-panel">
                <h4>Placeholder</h4>
            </div>
        </div>
        <div class="col-6 col-xl-3 mt-3">
            <div class="dashboard-container general-panel">
                <h4>Placeholder</h4>
            </div>
        </div>
    </div>        

    <div class="row">
        <div class="col-12">
            <div class="row mt-3">
                <div class="col-12 col-lg-6">
                    <table class="table table-sm table-bordered table-hover table-dark table-striped subtitles table-font-resize">
                    <h5 style="display: inline-block">
                        Lima Transaksi Terakhir : Pemasukan
                    </h5>
                    <div class="float-right" style="font-size: 14px">
                        <a href="{% url 'list_of_income' %}" class="link">
                            Detail
                            <i class="fas fa-angle-double-right"></i>
                        </a>
                    </div>
                    <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Date</th>
                            <th scope="col">Items</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for income in income_list_trim %}
                        <tr>
                            <td scope="row">{{forloop.counter}}</td>
                            <td>{{income.date_added}}</td>
                            <td>{{income.product_name}}</td>
                            <td>Rp. {{income.total|intcomma}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
                <div class="col-12 col-lg-6">
                    <table class="table table-sm table-bordered table-hover table-dark table-striped subtitles table-font-resize">
                        <h5 style="display: inline-block;">
                            Lima Transaksi Terakhir : Pengeluaran
                        </h5>
                        <div class="float-right" style="font-size: 14px">
                            <a href="{% url 'list_of_expense' %}" class="link">
                                Detail
                                <i class="fas fa-angle-double-right"></i>
                            </a>
                        </div>
                        <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Date</th>
                                <th scope="col">Items</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for expense in expense_list_trim %}
                                <tr>
                                    <td scope="row">{{forloop.counter}}</td>
                                    <td>{{expense.date_added}}</td>
                                    <td>{{expense.item_name}}</td>
                                    <td>Rp. {{expense.total|intcomma}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> 
{% endblock content %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.0.2/chart.min.js" integrity="sha512-dnUg2JxjlVoXHVdSMWDYm2Y5xcIrJg1N+juOuRi0yLVkku/g26rwHwysJDAMwahaDfRpr1AxFz43ktuMPr/l1A==" crossorigin="anonymous"></script>

<script>
    var ctx = document.getElementById("expenseChart").getContext("2d");
    var chart = new Chart(ctx, {
        type: "line",
        data: {
            labels: [
            {%for i in expense_in_running_month_per_day%}"{{i.date_added}}",{%endfor%}
            ],
            datasets: [{
                label: "Expense",
                data: [
                {%for i in expense_in_running_month_per_day%}{{i.sum}},{%endfor%}
                ],
                backgroundColor: "rgba(255, 99, 71, 0.450)",
                borderColor: "#ff3f80",
                fill: true,
                tension: .3,
            }]
        },
        options: {
            // To make canvas height-width customizeable
            maintainAspectRatio: true,

            plugins: {
                legend: {
                    display: false,
                },
            },
            scales: {
                y: {
                    display: true,
                    beginAtZero: true, 
                    ticks: {
                        color: "rgba(255, 255, 255, 0.700)",
                    },
                    grid: {
                        borderColor: "rgba(255, 255, 255, 0.700)",
                        drawOnChartArea: false,
                    },
                },
                x: {
                    display: true,
                    ticks: {
                        color: "rgba(255, 255, 255, 0.700)",
                    },
                    grid: {
                        borderColor: "rgba(255, 255, 255, 0.700)",
                        drawOnChartArea: false,
                    },
                },
            }
        }
    })

     var ctx = document.getElementById("incomeChart").getContext("2d");
    var chart = new Chart(ctx, {
        type: "line",
        data: {
            labels: [
            {%for i in income_in_running_month_per_day%}"{{i.date_added}}",{%endfor%}
            ],
            datasets: [{
                label: "Income",
                data: [
                {%for i in income_in_running_month_per_day%}{{i.sum}},{%endfor%}
                ],
                backgroundColor: "#8dfe36a1",
                borderColor: "#8cfe36",
                fill: true,
                tension: .3,
            }]
        },
        options: {
            // To make canvas height-width customizeable
            maintainAspectRatio: false,

            plugins: {
                legend: {
                    display: false,
                },
            },
            scales: {
                y: {
                    display: true,
                    beginAtZero: true,
                    ticks: {
                        color: "rgba(255, 255, 255, 0.700)",
                    },
                    grid: {
                        borderColor: "rgba(255, 255, 255, 0.700)",
                        drawOnChartArea: false,
                    },
                },
                x: {
                    display: true,
                    ticks: {
                        color: "rgba(255, 255, 255, 0.700)",
                    },
                    grid: {
                        borderColor: "rgba(255, 255, 255, 0.700)",
                        drawOnChartArea: false,
                    },
                },
            }
        }
    })
</script>
{% endblock js %}