body {
    background: rgb(16, 18, 29);
}

.margin-auto {
    margin: 0 auto;
}

/* Navigation Section */
nav .navbar-custom {
    position: relative;
    display: inline-block;
    margin-left: 0;
}

nav.navbar-lighter-dark {
    background: rgb(36, 40, 65);
}

nav a.nav-link {
    color:honeydew;
}

div ul li button.btn-mod {
    color: grey;
}

div ul li button.btn-mod:hover {
    color: whitesmoke;
}



/* Body Section */
div h1, h2, h3 {
    color: honeydew
}

.error-notification {
    color: tomato
}

.subtitles {
    color:lightgrey
}

.link-btn {
    color: lightgrey
}

.link-btn:hover {
    text-decoration: none;
}

div.card-quote-title {
    background: rgb(58, 63, 68);
}

div.card-quote-body {
    background: rgb(16, 18, 29);
}

div.card-height {
    height: 400px;
}

div footer.quote-footer {
    color: honeydew
}