body {
    /*background: rgb(45, 56, 60);*/
    background: #192428;
}

.margin-auto {
    margin: 0 auto;
}

.btn.btn-color-primary {
    background-color: #028fa3;
    border-color: #00a8cc;
}

.btn.btn-color-primary:hover {
    background-color: #00a8cc;
    border-color: #028fa3;
}

.btn {
    color: aliceblue;
}

.dropdown-divider {
    border-top: 1px solid #192428;
}

/* Navigation Section */
nav .navbar-custom {
    position: relative;
    display: inline-block;
    margin-left: 0;
}

nav.navbar-lighter-dark {
    /*background: rgb(36, 40, 65);*/
    background: #2d383c;
    border-bottom: 1px #192428;
}

nav a.nav-link {
    color:honeydew;
}

div ul li button.btn-mod {
    color: grey;
}

div ul li button.btn-mod:hover {
    color: whitesmoke;
}

.dropdown-dark {
    background: #2d383c;
}

.dropdown-menu {
    min-width: 7rem;
}

.admin-inline-flex {
    display: inline-flex;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
}



/* Body Section */
div h1, h2, h3 {
    color: #bcccdc;
}

.error-notification {
    color: tomato
}

.subtitles {
    color: #bcccdc;
}

.link-btn {
    color: lightgrey
}

.link-btn:hover {
    text-decoration: none;
}

div.card-quote-title {
    background: rgb(58, 63, 68);
}

div.card-quote-body {
    background: rgb(16, 18, 29);
}

div.card-height {
    height: 400px;
}

div footer.quote-footer {
    color: honeydew
}

.red-dgr {
    color: papayawhip
}