{% load static %}

<div class="header">
    <ul class="nav justify-content-end" style="padding-top: 5px;">
    {% if request.user.is_superuser %}
        <li class="nav-item">
            <a href="/admin/"class="link-dgr nav-link">
                <i class="fas fa-chess-king"></i>
                <span class="ml-1">Admin Page</span>
            </a>
        </li>
    {% endif %}
        <li class="nav-item">
            <a href="{% url 'profile' %}" class="link nav-link">
                <i class="fas fa-user-alt"></i>
                <span class="ml-1">Profile</span>
            </a>
        </li>
    </ul>
</div>